<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('学校成绩列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <p>课程名称：</p>
                                <input type="text" name="curriculumName"/>
                            </li>
                            
                            <li>
                                <p>考试名称：</p>
                                <input type="text" name="examName"/>
                            </li>
                            
                            <li class="select-time">
                                <p>考试时间：</p>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginExamDate]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endExamDate]"/>
                            </li>
                            <li class="select-time">
                                <p>创建时间：</p>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginCreateDate]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endCreateDate]"/>
                            </li>
                           
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
               <a class="btn btn-warning" onclick="exportChengji()">
               		<i class="fa fa-download"></i> 下载成绩单
               </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "system/schoolResult";
		
        $(function() {
            var options = {
                url: prefix + "/studentresultlist",
                modalName: "学校成绩",
                sortName:"createDate",
                sortOrder:"desc",
                columns: [{
                    checkbox: true
                },
                {
                    field : 'id', 
                    title : 'null',
                    visible: false
                },
                {
                    field : 'curriculum_name', 
                    title : '课程名称'
                },
                
                {
                    field : 'exam_name', 
                    title : '考试名称'
                },
                
                {
                    field : 'exam_date', 
                    title : '考试时间'
                },
                {
                    field : 'create_date', 
                    title : '创建时间'
                },
                {
                    field : 'result', 
                    title : '考试成绩'
                }]
            };
            $.table.init(options);
        });
        
        function exportChengji() {
        	var id = [[${id}]];
        	if (id != null) {
            	$.ajax({
    				type: "get",
    				url: ctx + "system/StudentOfficeStaff/chengji?id="+id,
    				contentType: "application/json;charset=utf-8",
    				dataType: "json",
    				success: function (data) {
    					console.log(data.msg);
    		        	window.location.href = ctx + "common/download/resource?resource=" + data.msg;
    				},
    				async: false
    			});
        	}
        	else {
       			$.modal.alertWarning("未查到学生成绩相关信息");
        	}
        }
    </script>
</body>
</html>