<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('修改简答题')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-examSubjectShortAnswer-edit" th:object="${examSubjectShortAnswer}">
            <input id="id" name="id" th:field="*{id}"  type="hidden">
			<div class="form-group">	
				<label class="col-sm-3 control-label">测评分类ID：</label>
				<div class="col-sm-8">
					<!-- <input id="categoryId" name="categoryId" th:field="*{categoryId}" class="form-control" type="text" readonly="readonly"> -->
					<select id="categoryId" class="form-control" name=""  th:value="${examSubjectShortAnswer.categoryId}" disabled="disabled">
				        <option th:each="car,userStat:${es}" th:selected="${car.id==examSubjectShortAnswer.categoryId}"    th:value="${car.id}"  th:text="${car.categoryName}" ></option>
				    </select>
				
				</div>
			</div>
			<!-- "analysis" -->
			<div class="form-group">	
				<label class="col-sm-3 control-label">题目分类ID：</label>
				<div class="col-sm-8">
					<!-- <input id="analysis" name="analysis" th:field="*{analysis}" class="form-control" type="text" readonly="readonly"> -->
					<select id="analysis" class="form-control" name=""  th:value="${examSubjectShortAnswer.analysis}" disabled="disabled">
				        <option th:each="car,userStat:${categories}" th:selected="${car.id==examSubjectShortAnswer.analysis}" th:data-value="${car.modifier}"   th:value="${car.id}"  th:text="${car.categoryName}" ></option>
				    </select>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label"><span style="color: red; ">*</span>序号：</label>
				<div class="col-sm-8">
					<input id="serialNumber" name="serialNumber" th:field="*{serialNumber}" class="form-control" type="text" required>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label"><span style="color: red; ">*</span>试卷名称：</label>
				<div class="col-sm-8">
					<input id="subjectName" name="subjectName" th:field="*{subjectName}" class="form-control" type="text" required>
				</div>
			</div>
			
			<!-- <div class="form-group">	
				<label class="col-sm-3 control-label">图像img：</label>
				<div class="col-sm-8">
					<input id="imageBase" name="imageBase" th:field="*{imageBase}" class="form-control" type="text">
					<input id="imageBase" name="imageBase" class="form-control" type="file" accept=".jpg,.jpeg,.png">
					静态资源加 @{}
					<img id="showImg" src="" th:src="@{${examSubjectShortAnswer.creator}}" style="width: 40%">
				</div>
			</div> -->
			
			<div id="s7" style="display: none"> 
				<div class="form-group">	
					<label class="col-sm-3 control-label">添加试题：</label>
					<div class="col-sm-8">
						<button type="button" class="btn btn-w-m btn-primary onbtn-primary">添加</button>
					</div>
				</div>
				
				<div class="form-group" >
					<table id = "bootstrap-table" class="table table-hover">
						<thead>
							<tr>
								<th>id</th>
								<th>编号</th>
								<th>名称</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody id="s1">
						</tbody>
					</table>
				</div>
			</div>
			<!-- <div class="form-group" id="s5" style="display: none">	
				<label class="col-sm-3 control-label">请输入分区数量：</label>
				<div class="col-sm-8">
					<div class="news ">
						<input id="zoningquantity" name="zoningquantity" class="form-control" type="number" readonly="readonly">
					</div>
					<div class="news ">
						<button  id="s4"  type="button" class="btn btn-w-m btn-success" >分区</button>
					</div>
					<div style="clear: both;"></div>
				</div>
			</div> -->
			<div id = "s6"></div>
		</form>
    </div>
    <div th:include="include::footer"></div>
     <div th:include="include :: footer"></div>
    
      <!-- <script th:inline="javascript">
    var message = [[${es}]];
   	console.log(message)
    var msg = [[${categories}]];
    console.log(msg)
    </script> -->
    <script th:inline="javascript">
    	var msg = [[${ExamExaminationSubject}]]
    //	console.log(msg)
    	
    	
    	var obj =  $("#analysis").children('option:selected').attr("data-value")
		//mbtl
		if (obj == '0') {
			
			for (var i = 0; i < msg.length; i++) {
				var strhtml = 
					'<div class="form-group" >'+
						'<div class="col-sm-8">'+
						'<button type="button" class="btn btn-w-m btn-primary" data-value="d'+(i+1)+'">分区'+(i+1)+'添加试题</button>'+
					'</div>'+
					'<table  class="table table-hover">'+
						'<thead>'+
							'<tr>'+
								'<th>id</th>'+
								'<th>编号</th>'+
								'<th>名称</th>'+
								'<th>操作</th>'+
							'</tr>'+
						'</thead>'+
						'<tbody id="d'+(i+1)+'">'+
						'</tbody>'+
					'</table>'+
				'</div>';
				$("#s6").append(strhtml)
				
				var ulStr1 = ""
				for (var ij = 0; ij < msg[i].length; ij++) {
					var ssa = msg[i][ij]
					 ulStr1 += `<tr data-value='`+ssa.id+`'> 
							<td>`+ssa.exid+`</td>
							<td>`+ssa.exnum+`</td>
							<td>`+ssa.exname+`</td>
							<td><i class="del glyphicon glyphicon-remove"></i></td>
						</tr>
						`
				}
				
				$('#d'+(i+1)).append(ulStr1)
			}
			
			
		}else{
	    	var ulStr1 = ""
	   		for(var i = 0; i < msg[0].length; i++) {
				var ssa = msg[0][i]
				 ulStr1 += `<tr data-value='`+ssa.id+`'> 
						<td>`+ssa.exid+`</td>
						<td>`+ssa.exnum+`</td>
						<td>`+ssa.exname+`</td>
						<td><i class="del glyphicon glyphicon-remove"></i></td>
					</tr>
					`
			}
			$('#s1').append(ulStr1)
		}
    
    </script>
    <script type="text/javascript">
		var prefix = ctx + "system/examSubjectShortAnswer";
		$("#form-examSubjectShortAnswer-edit").validate({
			rules:{
				xxxx:{
					required:true,
				},
			},
			focusCleanup: true
		});
		
		function submitHandler() {
			var postarr = []
			var obj =  $("#analysis").children('option:selected').attr("data-value")
			//mbtl
			if (obj == '0') {
				var arrnew =  $("#s6 .form-group")
			//	console.log(arrnew)
				for (var i1 = 0; i1 < arrnew.length; i1++) {
				//	console.log($("#d"+(i1+1)).find('tr'))
					var arr = $("#d"+(i1+1)).find('tr')
					for (var i = 0; i < arr.length; i++) {
						var ssa = arr.eq(i).find('td')
						var dn = {
							ssa1: $(ssa[0]).text(),
							ssa2: $(ssa[1]).text(),
							ssa3: $(ssa[2]).text(),
							tenantCode:"d"+(i1+1)
						}
						//console.log(dn)
						postarr.push(dn)
					}
				}
			}else{
				var arr =  $("#s1 tr")
				for (var i = 0; i < arr.length; i++) {
					var ssa = arr.eq(i).find('td')
					var dn = {
						ssa1: $(ssa[0]).text(),
						ssa2: $(ssa[1]).text(),
						ssa3: $(ssa[2]).text(),
					}
				//	console.log(dn)
					postarr[i] = dn
				}
			}
			//console.log(postarr)
	        if ($.validate.form()) {
	        	
	        	
	        	/* var id = $("#id").val()	
	        	var imageUrl = $("#imageUrl").val()	
	        	var formData = new FormData()  //创建一个forData 
	            formData.append('file', $('#imageBase')[0].files[0]) //把file添加进去  name命名为img
	            console.log($('#imageBase')[0])
	            if ($('#imageBase')[0].files[0]) {
	            	console.log($('#imageBase')[0].files[0])
		            $.ajax({
		                url: prefix + "/importImg",
		                data: formData,
		                type: "POST",
		                async: false,
		                cache: false,
		                contentType: false,
		                processData: false,
		                success: function(data) {
		                	
		                	if (data.code != 0) {
		                		$.modal.msgError("图片上传失败！！！");
							}
		                	//console.log(data)
				           // $.operate.save(prefix + "/edit", "id="+id+"&imageUrl="+imageUrl+"&imageBase="+data.msg);
		            		//$.operate.save(prefix + "/edit", $('#form-examScoreCategory-edit').serialize()+"&creator="+data.msg);
		            		 $.operate.save(prefix + "/edit", $('#form-examSubjectShortAnswer-edit').serialize()+"&applicationCode="+JSON.stringify(postarr)+"&creator="+data.msg);
		            		//成功
		                },
		                error: function(obj) {
		                      //失败
		                    //  console.log(obj)
		                      $.modal.msgError("图片上传失败！！！");
		                }
		              })
				}else{
					// $.operate.save(prefix + "/edit", "id="+id+"&imageUrl="+imageUrl);
		            //$.operate.save(prefix + "/edit", $('#form-examScoreCategory-edit').serialize());
		            $.operate.save(prefix + "/edit", $('#form-examSubjectShortAnswer-edit').serialize()+"&applicationCode="+JSON.stringify(postarr));
				} */
	        	
	            $.operate.save(prefix + "/edit", $('#form-examSubjectShortAnswer-edit').serialize()+"&applicationCode="+JSON.stringify(postarr));
	        }
	    }
		
		$(".onbtn-primary").click(function(){
		//	console.log("123131")
			var menuId = $("#analysis").val()
			//console.log(menuId,11111111)
			var url = prefix + "/selectMenuTree/" + menuId;
			var options = {
				title: '菜单选择',
				//width: "380",
				url: url,
				callBack: doSubmit
			};
			$.modal.openOptions(options);
		})
		function doSubmit(index, layero){
			var body = layer.getChildFrame('body', index);
          	var getSelectRows = body.find("#bootstrap-table").bootstrapTable('getSelections', function (row) {
	         //   console.log(row)
	            return row;
		    });
          	var arr = body.find('.selected td');
          	var saveList = [];
          	var selectArr = body.find('.selected');
          	var tdArr = []
          	var ulStr1 = ""
			for(var i = 0; i < selectArr.length; i++) {
				var ssa = selectArr.eq(i).find('td')
				var dn = {
					ssa1: $(ssa[1]).text(),
					ssa2: $(ssa[2]).text(),
					ssa3: $(ssa[3]).text(),
				}
				 ulStr1 += `<tr> 
						<td>`+dn.ssa1+`</td>
						<td>`+dn.ssa2+`</td>
						<td>`+dn.ssa3+`</td>
						<td><i class="del glyphicon glyphicon-remove"></i></td>
					</tr>
					`
				saveList[i] = dn;
			}
 		//	console.log(saveList)
 			$('#s1').append(ulStr1)
   			layer.close(index);
		}
		
		// 删除
		$('#s1').delegate('.del', 'click', function () {
			$(this).parents('tr').remove()
		})
		$('#s6').delegate('.del', 'click', function () {
			$(this).parents('tr').remove()
		})
		var datavalue
		$('#s6').delegate('.btn-primary', 'click', function () {
			datavalue = $(this).attr("data-value")
			//console.log("123131")
			//console.log(datavalue)
			var menuId = $("#analysis").val()
			var url = prefix + "/selectMenuTree/" + menuId;
			var options = {
				title: '菜单选择',
				//width: "380",
				url: url,
				callBack: doSubmit1
			};
			$.modal.openOptions(options);
		})
		function doSubmit1(index, layero){
			var body = layer.getChildFrame('body', index);
          	var getSelectRows = body.find("#bootstrap-table").bootstrapTable('getSelections', function (row) {
	         //   console.log(row)
	            return row;
		    });
          	var arr = body.find('.selected td');
          	var saveList = [];
          	var selectArr = body.find('.selected');
          	var tdArr = []
          	var ulStr1 = ""
			for(var i = 0; i < selectArr.length; i++) {
				var ssa = selectArr.eq(i).find('td')
				var dn = {
					ssa1: $(ssa[1]).text(),
					ssa2: $(ssa[2]).text(),
					ssa3: $(ssa[3]).text(),
				}
				 ulStr1 += `<tr> 
						<td>`+dn.ssa1+`</td>
						<td>`+dn.ssa2+`</td>
						<td>`+dn.ssa3+`</td>
						<td><i class="del glyphicon glyphicon-remove"></i></td>
					</tr>`
				saveList[i] = dn;
			} 
 			//console.log(saveList)
 			//console.log(datavalue)
 			$('#'+datavalue).append(ulStr1)
   			layer.close(index);
		}
		$(function(){
			var obj =  $("#analysis").children('option:selected').attr("data-value")
			//console.log()
			if( obj == '0'){
				$("#s5").show();
				$("#s7").hide();
			}else{
				$("#s5").hide();
				$("#s7").show();
			}
			
		})
		
		$('#imageBase').on('change',function(e){
		      // 检查是否是图片
		      var filePath = $(this).val(),
		      fileFormat = filePath.substring(filePath.lastIndexOf(".")).toLowerCase();//获取文件后缀名
		      //检查后缀名
		      if( !fileFormat.match(/.png|.jpg|.jpeg/) ) {
		            showError('文件格式必须为：png/jpg/jpeg');//showError是另外写的一个显示错误信息的function
		            return;  
		      }
		      //获取并记录图片的base64编码
		      var reader = new FileReader();
		      reader.readAsDataURL(e.target.files[0]); // 读出 base64
		      reader.onloadend = function () {
		            // 图片的 base64 格式, 可以直接当成 img 的 src 属性值        
		           var dataURL = reader.result;//base64
		           dataURLnew = reader;
		           // 显示图片
		           $('#showImg').attr('src',dataURL);
		      };
		});
	</script>
</body>
</html>
