<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增文章')" />
	<th:block th:include="include :: summernote-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-schoolmobilearticle-add">
      		<input name="content" type="hidden"/>
            <div class="form-group">    
                <label class="col-sm-3 control-label">文章标题：</label>
                <div class="col-sm-8">
                    <input name="title" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">文章类型：</label>
                <div class="col-sm-8">
               		<select name="type" class="form-control" th:with="type=${@dict.getType('sys_mobilearticle_type')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select> 
                </div>
            </div>
            <div class="form-group" style="display: none">    
                <label class="col-sm-3 control-label">图片地址：</label>
                <div class="col-sm-8">
                    <input name="file" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">图片：</label>
                <div class="col-sm-8">
                    <input name="filename" class="form-control" type="text" style="display: none">
                    <input id="filePath" name="filePath" class="form-control" type="file">
                </div>
            </div>
            <div class="form-group">    
	            <div class="col-sm-12">
	                <div class="ibox float-e-margins">
	                    <div class="ibox-title">
	                        <h5>文章内容</h5>
	                    </div>
	                    <div class="ibox-content no-padding">
	                        <div class="summernote">
	                            
	                        </div>
	                    </div>
	                </div>
	            </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: summernote-js" />	
    <script type="text/javascript">
    
        var prefix = ctx + "system/schoolmobilearticle"
        var filefix = ctx + "system/fileinfo";
        
        $("#form-schoolmobilearticle-add").validate({
            focusCleanup: true
        });
        
        $(document).ready(function () {
 	       	var content = $('input[name="content"]').val();
	        $('.summernote').summernote({
	        	height: 300, 
	            lang: 'zh-CN',
	            callbacks:{//回调函数，重写onImageUpload方法
	                onImageUpload: function(files, editor, welEditable) {
	                    sendFile(this,files[0],editor,welEditable);
	                }
	            }
	        });
	        $('.summernote').summernote('code',content);
	    });  

        function submitHandler() {
        	var html = $('.summernote').summernote('code');
        	$('input[name="content"]').val(html);
            if ($.validate.form()) {
            	uploadFile();
                $.operate.save(prefix + "/add", $('#form-schoolmobilearticle-add').serialize());
            }
        }
        
        function uploadFile() {
        	var formData = new FormData();
        	if ($('#filePath')[0].files[0] == null) {
        		$.modal.alertWarning("请先选择文件路径");
        		return false;
        	}
        	formData.append('file', $('#filePath')[0].files[0]);
        	
        	$.ajax({
        		url: filefix + "/add",
        		type: 'post',
        		cache: false,
        		data: formData,
        		processData: false,
        		contentType: false,
        		dataType: "json",
        		async: false,
        		success: function(result) {
        			var file = result.file;
        			if (file) {
        				$('input[name="filename"]').val(file.fileName);
        				$('input[name="file"]').val(file.filePath);
        			}
        		}
        	});
        }

        function sendFile(val,files,editor,welEditable) {
            data = new FormData();
            data.append("file", files);
            $.ajax({
                data: data,
                dataType: 'json',
                type: "POST",
        		url: filefix + "/add",
                cache: false,
                contentType: false,
                processData: false,
                responseType: "json",
                success: function(result) {
        			var file = result.file;
                    $(val).summernote('editor.insertImage', file.filePath);
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) {
                    alert(XMLHttpRequest.status);
                    alert(XMLHttpRequest.readyState);
                    alert(textStatus);
                }
            });
        }
        
    </script>
</body>
</html>