<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('文章列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <p>文章标题：</p>
                                <input type="text" name="title"/>
                            </li>
                            <li>
                                <p>文章类型：</p>
                                <select name="type" th:with="type=${@dict.getType('sys_mobilearticle_type')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>     
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:schoolmobilearticle:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:schoolmobilearticle:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:schoolmobilearticle:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:schoolmobilearticle:export">
                    <i class="fa fa-download"></i> 导出
            	</a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:schoolmobilearticle:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:schoolmobilearticle:remove')}]];
        var prefix = ctx + "system/schoolmobilearticle";
        var type = [[${@dict.getType('sys_mobilearticle_type')}]];

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "文章",
                sortName:"createdate",
                sortOrder:"desc",
                columns: [{
                    checkbox: true
                },
                {
                    field : 'id', 
                    title : '是否更新',
                    visible: false
                },
                {
                    field : 'title', 
                    title : '文章标题'
                },
                {
                    field : 'type', 
                    title : '文章类型',
                    formatter: function(value, row, index) {
                    	return $.table.selectDictLabel(type, value);
                    }
                },
                {
                    field : 'file', 
                    title : '图片',
                	formatter: function(value, row, index) {
                		return $.table.imageView("/school-fast"+value);
                	}
                },
                {
                    field : 'filename', 
                    title : '下载',
                    formatter: function(value, row, index) {
                    	if (value) {
    	                    return "<a onclick='ondownload()' data-value="+row.file+" >"+value+"</a>";
                    	}
                    }
                },
                {
                    field : 'createdate', 
                    title : '时间'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
        
        function ondownload(){
        	//console.log(event.currentTarget)
        	var objtp=$(event.currentTarget).attr("data-value");
        	console.log( ctx + "common/download/resource?resource=" + objtp)
        	window.location.href = ctx + "common/download/resource?resource=" + objtp;
        }
        
    </script>
</body>
</html>