<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.system.WorkDraft.mapper.WorkDraftMapper">
    
    <resultMap type="WorkDraft" id="WorkDraftResult">
        <result property="id"    column="id"    />
        <result property="title"    column="title"    />
        <result property="content"    column="content"    />
        <result property="startDate"    column="start_date"    />
        <result property="endDate"    column="end_date"    />
        <result property="belongName"    column="belong_name"    />
        <result property="speialtyName"    column="speialty_name"    />
        <result property="picPath"    column="pic_path"    />
        <result property="createDate"    column="create_date"    />
        <result property="updateDate"    column="update_date"    />
        <result property="delFlag"    column="del_flag"    />
		<result property="teacherName"    column="teacher_name"    />
    </resultMap>

    <sql id="selectWorkDraftVo">
        select id, title, content, start_date, end_date, belong_name, speialty_name, pic_path, create_date, update_date, del_flag,teacher_name from work_draft
    </sql>

    <select id="selectWorkDraftList" parameterType="WorkDraft" resultMap="WorkDraftResult">
        <include refid="selectWorkDraftVo"/>
        <where>  
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="startDate != null "> and start_date = #{startDate}</if>
            <if test="endDate != null "> and end_date = #{endDate}</if>
            <if test="belongName != null  and belongName != ''"> and belong_name like concat('%', #{belongName}, '%')</if>
            <if test="speialtyName != null  and speialtyName != ''"> and speialty_name like concat('%', #{speialtyName}, '%')</if>
            <if test="picPath != null  and picPath != ''"> and pic_path = #{picPath}</if>
            <if test="createDate != null "> and create_date = #{createDate}</if>
            <if test="updateDate != null "> and update_date = #{updateDate}</if>
              and del_flag="0"
        </where>
    </select>
    
    <select id="selectWorkDraftById" parameterType="Long" resultMap="WorkDraftResult">
        <include refid="selectWorkDraftVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertWorkDraft" parameterType="WorkDraft" useGeneratedKeys="true" keyProperty="id">
        insert into work_draft
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null  and title != ''">title,</if>
            <if test="content != null  and content != ''">content,</if>
            <if test="startDate != null ">start_date,</if>
            <if test="endDate != null ">end_date,</if>
            <if test="belongName != null  and belongName != ''">belong_name,</if>
            <if test="speialtyName != null  and speialtyName != ''">speialty_name,</if>
            <if test="picPath != null  and picPath != ''">pic_path,</if>
            <if test="createDate != null ">create_date,</if>
            <if test="updateDate != null ">update_date,</if>
            <if test="delFlag != null  and delFlag != ''">del_flag,</if>
            <if test="teacherName != null  and teacherName != ''">teacher_name,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null  and title != ''">#{title},</if>
            <if test="content != null  and content != ''">#{content},</if>
            <if test="startDate != null ">#{startDate},</if>
            <if test="endDate != null ">#{endDate},</if>
            <if test="belongName != null  and belongName != ''">#{belongName},</if>
            <if test="speialtyName != null  and speialtyName != ''">#{speialtyName},</if>
            <if test="picPath != null  and picPath != ''">#{picPath},</if>
            <if test="createDate != null ">#{createDate},</if>
            <if test="updateDate != null ">#{updateDate},</if>
            <if test="delFlag != null  and delFlag != ''">#{delFlag},</if>
            <if test="teacherName != null  and teacherName != ''">#{teacherName},</if>
         </trim>
    </insert>

    <update id="updateWorkDraft" parameterType="WorkDraft">
        update work_draft
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null  and title != ''">title = #{title},</if>
            <if test="content != null  and content != ''">content = #{content},</if>
            <if test="startDate != null ">start_date = #{startDate},</if>
            <if test="endDate != null ">end_date = #{endDate},</if>
            <if test="belongName != null  and belongName != ''">belong_name = #{belongName},</if>
            <if test="speialtyName != null  and speialtyName != ''">speialty_name = #{speialtyName},</if>
            <if test="picPath != null  and picPath != ''">pic_path = #{picPath},</if>
            <if test="createDate != null ">create_date = #{createDate},</if>
            <if test="updateDate != null ">update_date = #{updateDate},</if>
            <if test="delFlag != null  and delFlag != ''">del_flag = #{delFlag},</if>
            <if test="teacherName != null  and teacherName != ''">teacher_name = #{teacherName},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteWorkDraftById" parameterType="Long">
        delete from work_draft where id = #{id}
    </delete>

    <delete id="deleteWorkDraftByIds" parameterType="String">
        delete from work_draft where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>