<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改招生管理')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-schoolenrollmentmanagement-edit" th:object="${schoolenrollmentmanagement}">
            <input name="id" th:field="*{id}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label">招生批次：</label>
                <div class="col-sm-8">
                    <input name="enrollmentBatch" th:field="*{enrollmentBatch}" class="form-control" type="text">
                </div>
            </div>
            
             <div class="form-group">
                <label class="col-sm-3 control-label">培训项目名称：</label>
                <div class="col-sm-8">
                    <input name="remark1" th:field="*{remark1}" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">培训项目内容：</label>
                <div class="col-sm-8">
                    <input name="remark2" th:field="*{remark2}" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">培训项目介绍：</label>
                <div class="col-sm-8">
                    <input name="remark3" th:field="*{remark3}" class="form-control">
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-sm-3 control-label">计划人数：</label>
                <div class="col-sm-8">
                    <input name="plannedPopulation" th:field="*{plannedPopulation}" class="form-control" type="number">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">实际人数：</label>
                <div class="col-sm-8">
                    <input name="actualNumber" th:field="*{actualNumber}" class="form-control" type="number">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">入学时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input name="admissionTime" th:value="${#dates.format(schoolenrollmentmanagement.admissionTime, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">毕业时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input name="graduationTime" th:value="${#dates.format(schoolenrollmentmanagement.graduationTime, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">状态：</label>
                <div class="col-sm-8">
                    <input name="State" th:field="*{State}" class="form-control" type="text">
                </div>
            </div>
			<div class="form-group" style="display: none">    
			    <label class="col-sm-3 control-label">文件id：</label>
			    <div class="col-sm-8">
			        <input name="file" class="form-control" type="text">
			    </div>
			</div>
			<div class="form-group">    
			    <label class="col-sm-3 control-label">附件：</label>
			    <div class="col-sm-8">
			        <input name="filename" class="form-control" type="text" style="display: none">
			        <input id="filePath" name="filePath" class="form-control" type="file">
			    </div>
			</div>
          
              <!--<div class="form-group">
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <textarea name="remark4" class="form-control">[[*{remark4}]]</textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <textarea name="remark5" class="form-control">[[*{remark5}]]</textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <textarea name="remark6" class="form-control">[[*{remark6}]]</textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <textarea name="remark7" class="form-control">[[*{remark7}]]</textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <textarea name="remark8" class="form-control">[[*{remark8}]]</textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <textarea name="remark9" class="form-control">[[*{remark9}]]</textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <textarea name="remark10" class="form-control">[[*{remark10}]]</textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <textarea name="remark11" class="form-control">[[*{remark11}]]</textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <textarea name="remark12" class="form-control">[[*{remark12}]]</textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <textarea name="remark13" class="form-control">[[*{remark13}]]</textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <textarea name="remark14" class="form-control">[[*{remark14}]]</textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <textarea name="remark15" class="form-control">[[*{remark15}]]</textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <textarea name="remark16" class="form-control">[[*{remark16}]]</textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <textarea name="remark17" class="form-control">[[*{remark17}]]</textarea>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">部门表的别名：</label>
                <div class="col-sm-8">
                    <input name="deptalias" th:field="*{deptalias}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">用户表的别名：</label>
                <div class="col-sm-8">
                    <input name="useralias" th:field="*{useralias}" class="form-control" type="text">
                </div>
            </div> -->
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script type="text/javascript">
        var prefix = ctx + "system/schoolenrollmentmanagement";
        var filefix = ctx + "system/fileinfo";
        $("#form-schoolenrollmentmanagement-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
        	
        	var starttime =  $("input[name='admissionTime']").val();
        	var endtime =  $("input[name='graduationTime']").val();
        	if(new Date(starttime).getTime() > new Date(endtime).getTime()){
        		$.modal.alertWarning("结束时间不能小于开始时间");
        		return
        	}
        	
            if ($.validate.form()) {
            	uploadFile();
                $.operate.save(prefix + "/edit", $('#form-schoolenrollmentmanagement-edit').serialize());
            }
        }
        
        function uploadFile() {
        	var formData = new FormData();
        	if ($('#filePath')[0].files[0] == null) {
        		$.modal.alertWarning("请先选择文件路径");
        		return false;
        	}
        	formData.append('file', $('#filePath')[0].files[0]);
        	
        	$.ajax({
        		url: filefix + "/add",
        		type: 'post',
        		cache: false,
        		data: formData,
        		processData: false,
        		contentType: false,
        		dataType: "json",
        		async: false,
        		success: function(result) {
        			var file = result.file;
        			if (file) {
        				$('input[name="filename"]').val(file.fileName);
        				$('input[name="file"]').val(file.filePath);
        			}
        		}
        	});
        }

        $("input[name='admissionTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='graduationTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
    </script>
</body>
</html>