<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('招生管理列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <p>招生批次：</p>
                                <input type="text" name="enrollmentBatch"/>
                            </li>
                            <!-- <li>
                                <p>实际人数：</p>
                                <input type="text" name="actualNumber"/>
                            </li> -->
                            <li class="select-time">
                                <p>入学时间：</p>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginAdmissionTime]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endAdmissionTime]"/>
                            </li>
                            <li class="select-time">
                                <p>毕业时间：</p>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginGraduationTime]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endGraduationTime]"/>
                            </li>
                           <!--  <li>
                                <p>状态：</p>
                                <input type="text" name="State"/>
                            </li>
                            <li>
                                <p>部门表的别名：</p>
                                <input type="text" name="deptalias"/>
                            </li>
                            <li>
                                <p>用户表的别名：</p>
                                <input type="text" name="useralias"/>
                            </li> -->
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:schoolenrollmentmanagement:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:schoolenrollmentmanagement:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:schoolenrollmentmanagement:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <!-- <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:schoolenrollmentmanagement:export">
                    <i class="fa fa-download"></i> 导出
                 </a> -->
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:schoolenrollmentmanagement:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:schoolenrollmentmanagement:remove')}]];
        var prefix = ctx + "system/schoolenrollmentmanagement";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
               // exportUrl: prefix + "/export",
                modalName: "招生管理",
                columns: [{
                    checkbox: true
                },
                {
                    field : 'id', 
                    title : '编号',
                    visible: false
                },
                {
                    field : 'remark1', 
                    title : '培训项目名称'
                },
                {
                    field : 'remark2', 
                    title : '培训项目内容'
                },
                {
                    field : 'remark3', 
                    title : '培训项目介绍'
                },
                {
                    field : 'enrollmentBatch', 
                    title : '招生批次'
                },
                {
                    field : 'plannedPopulation', 
                    title : '计划人数'
                },
                {
                    field : 'actualNumber', 
                    title : '实际人数'
                },
                {
                    field : 'admissionTime', 
                    title : '入学时间'
                },
                {
                    field : 'graduationTime', 
                    title : '毕业时间'
                },
                {
                    field : 'file', 
                    title : '图片',
                	formatter: function(value, row, index) {
                		console.log(value)
                		//线上这么写
                		return $.table.imageView("/school-fast"+value);
                		//线下这么写
//                 		return $.table.imageView(""+value);
                	}
                },
                {
                    field : 'State', 
                    title : '状态',
 					formatter: function(value, row, index) {
                    	var datas = [[${@dict.getType('system_schoolenrollmentmanagement_state')}]];
                    	var day1 = new Date().getTime() //当前时间
                    	var starttime = new Date(row.admissionTime).getTime()// 开始时间
                    	var endtime = new Date(row.graduationTime).getTime()  //结束时间
                    	//console.log(starttime,day1 ,endtime)
                    	var data
						if(day1 < starttime){
							data = "2"
						}else if(starttime < day1 && day1 < endtime){
							data = "0"
						}else if(day1 > endtime){
							data = "1"
						}                    	
                    	//console.log(data)
                    	//console.log(datas)
                    	//console.log(1,value)
                    	//console.log(2,row)
                    	//console.log(3,index)
                		return $.table.selectDictLabel(datas, data);
                	}
                },
                /* {
                    field : 'remark', 
                    title : '备注'
                },
                {
                    field : 'remark1', 
                    title : '备注'
                },
                {
                    field : 'remark2', 
                    title : '备注'
                },
                {
                    field : 'remark3', 
                    title : '备注'
                },
                {
                    field : 'remark4', 
                    title : '备注'
                },
                {
                    field : 'remark5', 
                    title : '备注'
                },
                {
                    field : 'remark6', 
                    title : '备注'
                },
                {
                    field : 'remark7', 
                    title : '备注'
                },
                {
                    field : 'remark8', 
                    title : '备注'
                },
                {
                    field : 'remark9', 
                    title : '备注'
                },
                {
                    field : 'remark10', 
                    title : '备注'
                },
                {
                    field : 'remark11', 
                    title : '备注'
                },
                {
                    field : 'remark12', 
                    title : '备注'
                },
                {
                    field : 'remark13', 
                    title : '备注'
                },
                {
                    field : 'remark14', 
                    title : '备注'
                },
                {
                    field : 'remark15', 
                    title : '备注'
                },
                {
                    field : 'remark16', 
                    title : '备注'
                },
                {
                    field : 'remark17', 
                    title : '备注'
                },
                {
                    field : 'deptalias', 
                    title : '部门表的别名'
                },
                {
                    field : 'useralias', 
                    title : '用户表的别名'
                }, */
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                       /*  actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="usersee(\'' + row.id + '\')"><i class="fa fa-edit"></i>查看</a> '); */
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
        
        function usersee (){
        	
        	$.modal.alert("暂无此功能！！！")
        	console.log("usersee!!!")
        	
        }
        
        
    </script>
</body>
</html>