<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('学生列列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
								登录名称：<input type="text" name="loginName"/>
                                <input type="hidden" id="noticeid" name="noticeid" th:value="${notice.noticeId}"/>
							</li>
							<li>
								手机号码：<input type="text" name="phonenumber"/>
							</li>
							<li>
								用户状态：<select name="status" th:with="type=${@dict.getType('sys_normal_disable')}">
									<option value="">所有</option>
									<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
								</select>
							</li>
							<li class="select-time">
								<label>创建时间： </label>
								<input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginTime]"/>
								<span>-</span>
								<input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endTime]"/>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
							    <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="daoru()" shiro:hasPermission="system:schoolstudentslist:add">
                    <i class="fa fa-plus"></i> 导入
                </a>
                <a class="btn btn-danger multiple disabled" onclick="yichu()" shiro:hasPermission="system:schoolstudentslist:remove">
                    <i class="fa fa-remove"></i> 移出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
		var prefix = ctx + "system/notice";
		var options = {
	        url: prefix + "/noticelist",
	        sortName: "createTime",
	        sortOrder: "desc",
	        modalName: "用户",
	        columns: [{
	            checkbox: true
	        },
	        {
	            field: 'userId',
	            title: '用户ID'
	        },
	        {
	            field: 'loginName',
	            title: '登录名称',
	            sortable: true
	        },
	        {
	            field: 'userName',
	            title: '用户名称'
	        },
	        {
	            field: 'dept.deptName',
	            title: '部门'
	        },
	        {
	            field: 'email',
	            title: '邮箱',
	            visible: false
	        },
	        {
	            field: 'phonenumber',
	            title: '手机'
	        },
	        {
	            title: '角色',
	            formatter: function (value, row, index) {
	            	if(row.roles.length > 0){
	            		return row.roles[0].roleName;
	            	}
	        		return "用户角色不存在";
	        	}
	        },
	        {
	            field: 'createTime',
	            title: '创建时间',
	            sortable: true
	        }]
	    };
		$(function(){
			inittable();
		});
		function inittable() {
		    $.table.init(options);
		}
		function daoru() {
        	var url = prefix + "/daoruview/"+$('#noticeid').val();
			$.modal.openTab("选择", url);
        }
        function yichu() {
			var row=$("#bootstrap-table").bootstrapTable('getSelections');
			var snulist = new Array();
			for(var i=0; i<row.length; i++) {
				console.log(row[i])
				snulist.push({
					"userid":row[i].userId,
					"noticeid":$('#noticeid').val()
				});
     	   	}
			$.ajax({
				type: "post",
				url: ctx + "system/notice/removesnu",
				contentType: "application/json;charset=utf-8",
				dataType: "json",
				data: JSON.stringify(snulist),
				success: function (data) {
					$.modal.reload();
				},
				async: false
			});
        }
    </script>
</body>
</html>