<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('课外读物列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <p>文件名称：</p>
                                <input type="text" name="name"/>
								<input type="text" id="classid" name="classid" th:field="${schoolClass.id}" style="display: none"/>
								<input type="text" id="type" name="type" th:field="${schooloutofclass.type}" style="display: none"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:schooloutofclass:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:schooloutofclass:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:schooloutofclass:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:schooloutofclass:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:schooloutofclass:remove')}]];
        var prefix = ctx + "system/schooloutofclass";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add?classid="+$('#classid').val()+"&type="+$('#type').val(),
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "课外读物",
                columns: [{
                    checkbox: true
                },
                {
                    field : 'id', 
                    title : '是否更新',
                    visible: false
                },
                {
                    field : 'classid', 
                    title : '班级id',
                    visible: false
                },
                {
                    field : 'name', 
                    title : '文件名称'
                },
                {
                    field : 'brief', 
                    title : '简介'
                },
                {
                    field : 'uploadtime', 
                    title : '上传时间'
                },
                {
                    field : 'file', 
                    title : '文件地址',
                    visible: false
                },
                {
                    field : 'filename', 
                    title : '操作',
                    formatter: function(value, row, index) {
                        var actions = [];
                        if (row.file) {
    	                    return "<a onclick='ondownload()' data-value="+row.file+" >"+value+"</a>";
                        }
                        else {
                            return "";
                        }
                    }
                },
                {
                    field : 'deleteFlag', 
                    title : '是否更新',
                    visible: false
                }]
            };
            $.table.init(options);
        });
        
        function ondownload(){
        	//console.log(event.currentTarget)
        	var objtp=$(event.currentTarget).attr("data-value");
        	console.log( ctx + "common/download/resource?resource=" + objtp)
        	window.location.href = ctx + "common/download/resource?resource=" + objtp;
        }
        
    </script>
</body>
</html>