<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('学生列列表')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                    	<input type="hidden" name="studentid" th:value="${studentid}"/>
                        <ul>
                            <li>
                                <p>课程名称:</p>
                                <input type="text" name="curriculm"/>
                            </li>
                            <li>
                                <p>考试时间:</p>
                                <div class="input-group date" style="width: 200px">
				                	<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
				                    <input name="examdata" class="form-control" placeholder="yyyy-MM-dd" type="text">  
			                	</div>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:schoolstudentslist:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:schoolstudentslist:remove')}]];
        var prefix = ctx + "system/schoolResultDetail";
        $(function() {
            var options = {
                url: prefix + "/resultlist",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                modalName: "学生信息",
                columns: [{
                    checkbox: true
                },
                {
                    field : 'curriculm', 
                    title : '课程名称'
                },
                {
                    field : 'exam', 
                    title : '考试名称'
                },
                {
                    field : 'examdata', 
                    title : '考试时间'
                },
                {
                    field : 'result', 
                    title : '考试成绩',
                    formatter: function(value, row, index) {
                    	let returnStr="";
                    	let absentFlag= row.absentFlag;
                    	let detailId=row.did;
                    	if(value!=null){
                    		returnStr= value;
                    	}else{
                    		returnStr= "-------"
                    	}
                    	if(absentFlag!=null){
                    		if(absentFlag=="1"){
                    			returnStr="缺席";
                    		}
                    	}else{
                    		returnStr= "-------"
                    	}
                    	return returnStr;
                    }
                }]
            };
            $.table.init(options);
        });
        $("input[name='examdata']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
    </script>
</body>
</html>