<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('学生作业表列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <p>课程名称：</p>
                                <input type="text" name="curriculumName"/>
                                <input type="text" name="studentid" th:value="${studentid}" style="display: none"/>
                                
                            </li>
                            
                            <li>
                                <p>作业名称：</p>
                                <input type="text" name="homeworkName"/>
                            </li>
                            
                            <li class="select-time">
                                <p>提交时间：</p>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginSubmitDate]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endSubmitDate]"/>
                            </li>
                            <li class="select-time">
                                <p>创建时间：</p>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginCreateDate]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endCreateDate]"/>
                            </li>
                            <li class="select-time">
                                <p>更新时间：</p>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginUpdateDate]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endUpdateDate]"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:schoolHomework:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:schoolHomework:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:schoolHomework:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:schoolHomework:export">
                    <i class="fa fa-download"></i> 导出
                 </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:schoolHomework:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:schoolHomework:remove')}]];
        var prefix = ctx + "system/schoolHomework";
		function intoxuesheng(id){
			$.modal.openTab("学生作业列表",ctx+"system/schoolHomeworkDetail?id="+id);
		}
        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "学生作业表",
                columns: [{
                    checkbox: true
                },
                {
                    field : 'id', 
                    title : 'null',
                    visible: false
                },
                {
                    field : 'curriculumName', 
                    title : '课程名称'
                },
                
                {
                    field : 'homeworkName', 
                    title : '作业名称'
                },
               
                {
                    field : 'submitDate', 
                    title : '提交时间'
                },
                {
                    field : 'createDate', 
                    title : '创建时间'
                },
                {
                    field : 'updateDate', 
                    title : '更新时间'
                },
                {
                    field : 'submitFlag', 
                    title : '提交状况',
                    formatter: function(value, row, index) {
                    	let returnStr="";
                    	let submitFlag= row.submitFlag;
                    	if(submitFlag!=null){
                    		if(submitFlag=="1"){
                    			//已提交
                    			returnStr= "<a onclick='openadd("+row.studentid+","+row.id+","+row.did+")'>已提交</a>";
                    		}else{
                    			//未提交
                    			returnStr= "<a onclick='openadd("+row.studentid+","+row.id+","+row.did+")'>未提交</a>";
                    		}
                    		
                    	}else{
                    		//未提交
                    		returnStr= "<a onclick='openadd("+row.studentid+","+row.id+","+row.did+")'>未提交</a>";
                    	}
                    	return returnStr;
                    }
                }]
            };
            $.table.init(options);
        });
        
        function openadd(studentsId,homeworkId,detailId){
			$.modal.open("录入成绩",ctx+"system/schoolHomeworkDetail/add?studentsId="+studentsId+"&homeworkId="+homeworkId+"&detailId="+detailId);
		}
    </script>
</body>
</html>