<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('学生列列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                    	<input type="hidden" id="homeworkId" name="homeworkId" th:value="${hid}"/>
                        <ul>
                            <li>
                                <p>学生名称:</p>
                                <input type="text" name="studentsName"/>
                            </li>
                            <li>
                                <p>所属学院：</p>
                                <select name="sbid" id="sbid">
<!-- 									<option value="">---请选择学院---</option> -->
									<option th:each="sb:${sblist}" 
											th:value="${sb.id}" 
											th:text="${sb.schoolName}">
									</option>
								</select>
                            </li>
                            <li>
                                <p>所属专业：</p>
                                <select name="ssid" id="ssid">
								</select>
                            </li>
							<li>
                            	<p>入学年份：</p>
                            	<input id="gradeId" name="gradeId" class="form-control" type="number">
                            </li>
                            <li>
                                <p>班级：</p>
                                <select id="classId" name="classId">
	                                <option value="">---请选择班级---</option>
								    <option th:each="schoolClass:${schoolClassList}" th:value="${schoolClass.id}" th:text="${schoolClass.nameclass}" ></option>
							    </select>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="daoru()"><i class="fa fa-plus"></i> 导入</a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "system/schoolHomework";
        function daoru() {
        	var row=$("#bootstrap-table").bootstrapTable('getSelections');
			for(var i=0; i<row.length; i++) {
				var str = "studentsId="+row[i].id+"&homeworkId="+$('#homeworkId').val();	
  				$.operate.save(ctx + "system/schoolHomework/stuimport", str);
     	   	}
        }
        $(function() {
            var options = {
                url: prefix + "/stulist",
                modalName: "学生列",
                columns: [{
                    checkbox: true
                },
                {
                    field : 'id', 
                    title : '编号',
                    visible: false
                },
                {
                    field : 'studentsId', 
                    title : '学生id'
                },
                {
                    field : 'studentsName', 
                    title : '学生名称'
                },
                {
                    field : 'birth', 
                    title : '出生日期'
                },
                {
                    field : 'admissionTime', 
                    title : '入学年月'
                },
                {
                    field : 'nameclass', 
                    title : '班级'
                },{
                    field : 'sbname', 
                    title : '学院'
                },{
                    field : 'ssname', 
                    title : '专业'
                }]
            };
            $.table.init(options);
        });        
//  		$('select[name="sbid"]').change(function(){
	    	var sbid = $('select[name="sbid"]').val();
	    	$.ajax({
	    		type: "get",
	    		url: ctx + "system/StudentOfficeStaff/zhuanye/"+sbid,
	    		dataType: "json",
	    		success: function (data) {
	    			var append = '<option value="">---请选择专业---</option>';
	    			for(var i=0; i<data.length; i++) {
	    				var ss = data[i];
	    				append += '<option value="'+ss.id+'">'+ss.name+'</option>';
	    			}
	    			$('#ssid').html(append);
	    		},
	    		async: false
	    	});
// 	    });
	    $('select[name="ssid"]').change(function(){
	    	var sbid = $('#sbid').val();
	    	var ssid = $('#ssid').val();
	    	var gradeId = $('#gradeId').val();
	    	$.ajax({
	    		type: "get",
	    		url: ctx + "system/schoolClass/selectclass?gradelistId="+gradeId+"&sbid="+sbid+'&ssid='+ssid,
	    		dataType: "json",
	    		success: function (data) {
	    			var append = '<option value="">---请选择班级---</option>';
	    			for(var i=0; i<data.length; i++) {
	    				var ss = data[i];
	    				append += '<option value="'+ss.id+'">'+ss.nameclass+'</option>';
	    			}
	    			$('#classId').html(append);
	    		},
	    		async: false
	    	});
	    });
    	$('#gradeId').bind('input propertychange', function() {
			var sbid = $('#sbid').val();
	    	var ssid = $('#ssid').val();
	    	var gradeId = $('#gradeId').val();
	    	$.ajax({
	    		type: "get",
	    		url: ctx + "system/schoolClass/selectclass?gradelistId="+gradeId+"&sbid="+sbid+'&ssid='+ssid,
	    		dataType: "json",
	    		success: function (data) {
	    			var append = '<option value="">---请选择班级---</option>';
	    			for(var i=0; i<data.length; i++) {
	    				var ss = data[i];
	    				append += '<option value="'+ss.id+'">'+ss.nameclass+'</option>';
	    			}
	    			$('#classId').html(append);
	    		},
	    		async: false
	    	});
		}); 
    </script>
</body>
</html>