<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('教师管理列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <p>师资编号：</p>
                                <input type="text" name="teacherId"/>
                            </li>
                            <li>
                                <p>性别：</p>
                                <input type="text" name="gendername"/>
                            </li>
                            <li>
                                <p>生日：</p>
                                <input type="text" name="birthday"/>
                            </li>
                           <!--  <li>
                                <p>入职时间：</p>
                                <input type="text" name="entryDate"/>
                            </li>
                            <li>
                                <p>授课年数：</p>
                                <input type="text" name="teachYears"/>
                            </li>
                            <li>
                                <p>证书编号：</p>
                                <input type="text" name="certificateId"/>
                            </li>
                            <li>
                                <p>授课类别范围：</p>
                                <input type="text" name="classScope"/>
                            </li>
                            <li>
                                <p>师资分类1、自有师资2、内训师资3、外部专家：</p>
                                <input type="text" name="classificationTeachers"/>
                            </li>
                            <li>
                                <p>认证信息：</p>
                                <input type="text" name="authenticationInformation"/>
                            </li>
                            <li>
                                <p>认证时间：</p>
                                <input type="text" name="authenticationDate"/>
                            </li>
                            <li>
                                <p>认证等级：</p>
                                <input type="text" name="certificationGrade"/>
                            </li>
                            <li>
                                <p>认证照片：</p>
                                <input type="text" name="certificationImage"/>
                            </li>
                            <li>
                                <p>师资备注：</p>
                                <input type="text" name="remarksTeachers"/>
                            </li>
                            <li>
                                <p>专业方向：</p>
                                <input type="text" name="professionalDirection"/>
                            </li>
                            <li>
                                <p>科研成果：</p>
                                <input type="text" name="scientificResearch"/>
                            </li>
                            <li>
                                <p>专题信息：</p>
                                <input type="text" name="thematicInformation"/>
                            </li>
                            <li>
                                <p>教学情况：</p>
                                <input type="text" name="teachingSituation"/>
                            </li>
                            <li>
                                <p>教学反馈意见：</p>
                                <input type="text" name="teachingFeedback"/>
                            </li>
                            <li>
                                <p>反馈意见：</p>
                                <input type="text" name="feedbackOpinion"/>
                            </li>
                            <li>
                                <p>证书编号name：</p>
                                <input type="text" name="certificateName"/>
                            </li>
                            <li>
                                <p>认证照片名：</p>
                                <input type="text" name="certificationName"/>
                            </li>
                            <li>
                                <p>认证状态：</p>
                                <input type="text" name="certificationState"/>
                            </li>
                            <li>
                                <p>创建时间：</p>
                                <input type="text" name="createtime1"/>
                            </li>
                            <li>
                                <p>备注：</p>
                                <input type="text" name="remarks"/>
                            </li>
                            <li>
                                <p>是否删除：</p>
                                <input type="text" name="isdelete"/>
                            </li>
                            <li>
                                <p>分析报告：</p>
                                <input type="text" name="analysisReport"/>
                            </li>
                            <li>
                                <p>null：</p>
                                <input type="text" name="teachPlace"/>
                            </li>
                            <li>
                                <p>教师名称：</p>
                                <input type="text" name="teachingName"/>
                            </li>
                            <li>
                                <p>是否班主任：</p>
                                <input type="text" name="isheadteacher"/>
                            </li>
                            <li>
                                <p>累计课时：</p>
                                <input type="text" name="cumulativeClassHours"/>
                            </li>
                            <li>
                                <p>职称：</p>
                                <input type="text" name="jobTitle"/>
                            </li>
                            <li>
                                <p>档案所在地：</p>
                                <input type="text" name="fileLocation"/>
                            </li>
                            <li>
                                <p>教学记录：</p>
                                <input type="text" name="teachingRecord"/>
                            </li>
                            <li>
                                <p>部门表的别名：</p>
                                <input type="text" name="deptalias"/>
                            </li>
                            <li>
                                <p>用户表的别名：</p>
                                <input type="text" name="useralias"/>
                            </li> -->
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:TeachingInfo:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
              <!--   <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:TeachingInfo:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:TeachingInfo:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:TeachingInfo:export">
                    <i class="fa fa-download"></i> 导出
                 </a> -->
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:TeachingInfo:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:TeachingInfo:remove')}]];
        var prefix = ctx + "system/TeachingInfo";
        var datas = [[${@dict.getType('system_teachingInfo_headteacher')}]];
        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "教师管理",
                columns: [{
                    checkbox: true
                },
                {
                    field : 'id', 
                    title : '编号',
                    visible: false
                },
                {
                    field : 'teacherId', 
                    title : '师资编号',
                    visible: true
                },
               /*{
                    field : 'gendername', 
                    title : '性别'
                },
                {
                    field : 'birthday', 
                    title : '生日'
                },
                {
                    field : 'entryDate', 
                    title : '入职时间'
                }, */
               /*{
                    field : 'teachYears', 
                    title : '授课年数'
                },
                {
                    field : 'certificateId', 
                    title : '证书编号'
                },
                {
                    field : 'classScope', 
                    title : '授课类别范围'
                },
                {
                    field : 'classificationTeachers', 
                    title : '师资分类1、自有师资2、内训师资3、外部专家'
                },
                {
                    field : 'authenticationInformation', 
                    title : '认证信息'
                },
                {
                    field : 'authenticationDate', 
                    title : '认证时间'
                },
                {
                    field : 'certificationGrade', 
                    title : '认证等级'
                },
                {
                    field : 'certificationImage', 
                    title : '认证照片'
                },
                {
                    field : 'remarksTeachers', 
                    title : '师资备注'
                },
                {
                    field : 'professionalDirection', 
                    title : '专业方向'
                },
                {
                    field : 'scientificResearch', 
                    title : '科研成果'
                },
                {
                    field : 'thematicInformation', 
                    title : '专题信息'
                },
                {
                    field : 'teachingSituation', 
                    title : '教学情况'
                },
                {
                    field : 'teachingFeedback', 
                    title : '教学反馈意见'
                },
                {
                    field : 'feedbackOpinion', 
                    title : '反馈意见'
                },
                {
                    field : 'certificateName', 
                    title : '证书编号name'
                },
                {
                    field : 'certificationName', 
                    title : '认证照片名'
                },
                {
                    field : 'certificationState', 
                    title : '认证状态'
                },
                {
                    field : 'createtime1', 
                    title : '创建时间'
                },
                {
                    field : 'remarks', 
                    title : '备注'
                },
                {
                    field : 'isdelete', 
                    title : '是否删除'
                },
                {
                    field : 'analysisReport', 
                    title : '分析报告'
                },
                {
                    field : 'teachPlace', 
                    title : 'null'
                }, */
                {
                    field : 'teachingName', 
                    title : '教师名称'
                },
                {
                    field : 'subjectName', 
                    title : '科目'
                },
                {
                	field : 'entryDate',
                	title : '入职时间'
                },
                {
                    field : 'cumulativeClassHours', 
                    title : '累计课时'
                },
                {
                    field : 'jobTitle', 
                    title : '职称'
                },
                {
                    field : 'fileLocation', 
                    title : '档案所在地'
                },
                {
                    field : 'jiuzhizhuangtai', 
                    title : '就职状态'
                },
              /*   {
                    field : 'remark', 
                    title : '备注'
                },
                {
                    field : 'remark1', 
                    title : '备注'
                },
                {
                    field : 'remark2', 
                    title : '备注'
                },
                {
                    field : 'remark3', 
                    title : '备注'
                },
                {
                    field : 'remark4', 
                    title : '备注'
                },
                {
                    field : 'remark5', 
                    title : '备注'
                },
                {
                    field : 'remark6', 
                    title : '备注'
                },
                {
                    field : 'remark7', 
                    title : '备注'
                },
                {
                    field : 'remark8', 
                    title : '备注'
                },
                {
                    field : 'remark9', 
                    title : '备注'
                },
                {
                    field : 'remark10', 
                    title : '备注'
                },
                {
                    field : 'remark11', 
                    title : '备注'
                },
                {
                    field : 'remark12', 
                    title : '备注'
                },
                {
                    field : 'remark13', 
                    title : '备注'
                },
                {
                    field : 'remark14', 
                    title : '备注'
                },
                {
                    field : 'remark15', 
                    title : '备注'
                },
                {
                    field : 'remark16', 
                    title : '备注'
                },
                {
                    field : 'remark17', 
                    title : '备注'
                },
                {
                    field : 'deptalias', 
                    title : '部门表的别名'
                },
                {
                    field : 'useralias', 
                    title : '用户表的别名'
                }, */
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
        
        
        function teachersee(id){
        	var url = ctx + "system/TeachingRecord/"+id;
			$.modal.openTab("教学记录", url);
        }
        
        
        
        
        
    </script>
</body>
</html>