<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改学校专业')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-SchoolSpecialty-edit" th:object="${schoolSpecialty}">
            <input name="id" th:field="*{id}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label">专业名称：</label>
                <div class="col-sm-8">
                    <input name="name" th:field="*{name}" class="form-control" type="text">
                </div>
            </div>
             <div class="form-group">    
                <!-- <label class="col-sm-3 control-label">学院名称：</label>
                <div class="col-sm-8">
                    <input name="belongName" class="form-control" type="text">
                </div> -->
                <label class="col-sm-3 control-label">学院名称：</label>
                <div class="col-sm-8">
                <select  class="form-control" name=belongId>
				    <option  th:each="schoolBelong:${schoolBelongList}" th:value="${schoolBelong.id}" th:text="${schoolBelong.schoolName}" 
				      th:selected="${schoolBelong.id}==*{belongId}"  ></option>
				       <!-- th:selected="${coursemanagement.id}==*{curriculumId}" -->
				   </select>
				</div> 
            </div>
            
            <div class="form-group">
                <label class="col-sm-3 control-label">培训项目内容：</label>
                <div class="col-sm-8">
                    <textarea name="content" maxlength="500" class="form-control" rows="3">[[*{content}]]</textarea>
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-sm-3 control-label">计划人数：</label>
                <div class="col-sm-8">
                    <input name="stunum" th:field="*{stunum}" class="form-control" type="number">
                </div>
            </div>
			<div class="form-group" style="display: none">    
			    <label class="col-sm-3 control-label">文件id：</label>
			    <div class="col-sm-8">
			        <input name="file" class="form-control" type="text">
			    </div>
			</div>
			<div class="form-group">    
			    <label class="col-sm-3 control-label">附件：</label>
			    <div class="col-sm-8">
			        <input name="filename" class="form-control" type="text" style="display: none">
			        <input id="filePath" name="filePath" class="form-control" type="file">
			    </div>
			</div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script type="text/javascript">
        var prefix = ctx + "system/SchoolSpecialty";
        var filefix = ctx + "system/fileinfo";
        $("#form-SchoolSpecialty-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
            	uploadFile();
                $.operate.save(prefix + "/edit", $('#form-SchoolSpecialty-edit').serialize());
            }
        }

        $("input[name='createDate']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='updateDate']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
        function uploadFile() {
        	var formData = new FormData();
        	if ($('#filePath')[0].files[0] == null) {
        		$.modal.alertWarning("请先选择文件路径");
        		return false;
        	}
        	formData.append('file', $('#filePath')[0].files[0]);
        	
        	$.ajax({
        		url: filefix + "/add",
        		type: 'post',
        		cache: false,
        		data: formData,
        		processData: false,
        		contentType: false,
        		dataType: "json",
        		async: false,
        		success: function(result) {
        			var file = result.file;
        			if (file) {
        				$('input[name="filename"]').val(file.fileName);
        				$('input[name="file"]').val(file.filePath);
        			}
        		}
        	});
        }
    </script>
</body>
</html>