<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('学生列列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <p>学生名</p>
                                <input type="text" name="studentsName"/>
                            </li>
                             <li>
                                <p>学级：</p>
                                <input type="text" name="academicLevel"/>
                            </li>
                            <li class="select-time">
                                <p>入学时间：</p>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginAdmissionTime]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endAdmissionTime]"/>
                            </li>
                            <!-- <li>
                                <p>状态：</p>
                                <input type="text" name="State"/>
                            </li> -->
                           
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
             <!--    <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:schoolstudentslist:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:schoolstudentslist:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:schoolstudentslist:remove">
                    <i class="fa fa-remove"></i> 删除
                </a> -->
               <!--  <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:schoolstudentslist:export">
                    <i class="fa fa-download"></i> 导出
                 </a> -->
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:schoolstudentslist:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:schoolstudentslist:remove')}]];
        var prefix = ctx + "system/StudentOfficeStaff";

        $(function() {
            var options = {
                url: prefix + "/listAlumnus",
               // createUrl: prefix + "/add",
              //  updateUrl: prefix + "/edit/{id}",
              //  removeUrl: prefix + "/remove",
               // exportUrl: prefix + "/export",
                modalName: "学生列",
                columns: [{
                    checkbox: true
                },
                {
                    field : 'id', 
                    title : '编号',
                    visible: false
                },
                {
                    field : 'studentsId', 
                    title : '学生id'
                },
                {
                    field : 'studentsName', 
                    title : '学生名称'
                },
                {
                    field : 'academicLevel', 
                    title : '学级'
                },
                
                /* {
                    field : '', 
                    title : '家庭信息',
                    formatter: function(value, row, index) {
                    	console.log(1,row)
                    	return '<a class="" href="#" onclick="vieweditor(\'' + row.id + '\')">查看编辑</a>';
                    }
                }, */
                /* {
                    field : 'fatherName', 
                    title : '父亲名称'
                },
                {
                    field : 'fatherPhone', 
                    title : '父亲电话号'
                },
                {
                    field : 'motherName', 
                    title : '母亲名称'
                },
                {
                    field : 'motherPhone', 
                    title : '母亲电话号'
                },
                {
                    field : 'homeAddress', 
                    title : '家庭住址'
                },
                {
                    field : 'Remarks', 
                    title : '备注'
                }, */
                {
                    field : 'ages', 
                    title : '年龄'
                },
                {
                    field : 'admissionTime', 
                    title : '入学时间'
                },
                {
                    field : 'state', 
                    title : '状态',
                    formatter: function(value, row, index) {
                    	var datas = [[${@dict.getType('system_schoolenrollmentmanagement_state')}]];
                    	return $.table.selectDictLabel(datas, value);
                    }
                },
                {
                    field : 'remark1', 
                    title : '材料附件'
                },
                /*{
                    field : 'remark', 
                    title : '备注'
                },
                {
                    field : 'remark2', 
                    title : '备注'
                },
                {
                    field : 'remark3', 
                    title : '备注'
                },
                {
                    field : 'remark4', 
                    title : '备注'
                },
                {
                    field : 'remark5', 
                    title : '备注'
                },
                {
                    field : 'remark6', 
                    title : '备注'
                },
                {
                    field : 'remark7', 
                    title : '备注'
                },
                {
                    field : 'remark8', 
                    title : '备注'
                },
                {
                    field : 'remark9', 
                    title : '备注'
                },
                {
                    field : 'remark10', 
                    title : '备注'
                },
                {
                    field : 'remark11', 
                    title : '备注'
                },
                {
                    field : 'remark12', 
                    title : '备注'
                },
                {
                    field : 'remark13', 
                    title : '备注'
                },
                {
                    field : 'remark14', 
                    title : '备注'
                },
                {
                    field : 'remark15', 
                    title : '备注'
                },
                {
                    field : 'remark16', 
                    title : '备注'
                },
                {
                    field : 'remark17', 
                    title : '备注'
                },
                {
                    field : 'deptalias', 
                    title : '部门表的别名'
                },
                {
                    field : 'useralias', 
                    title : '用户表的别名'
                }, */
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
        
        function vieweditor(id){
        	var url = prefix + "/vieweditor/" + id;
    		var options = {
   				title: '家庭信息',
   				width: "380",
   				url: url,
   				callBack: doSubmit
   			};
   			$.modal.openOptions(options);
        }
        
        function vieweditor2(id){
        	var url = prefix + "/vieweditor2/" + id;
    		var options = {
   				title: '在线报名申请',
   				width: "380",
   				height: "220",
   				url: url,
   				callBack: doSubmit2
   			};
   			$.modal.openOptions(options);
        }
        
        function doSubmit(index, layero){
			var body = layer.getChildFrame('body', index);
			
			var id  = body.find('#id').val()
			var fatherName  = body.find('#fatherName').val()
			var fatherPhone  = body.find('#fatherPhone').val()
			var motherName  = body.find('#motherName').val()
			var motherPhone  = body.find('#motherPhone').val()
			var homeAddress  = body.find('#homeAddress').val()
			var Remarks  = body.find('#Remarks').val()
   			
			console.log(fatherName,fatherPhone,motherName,motherPhone,homeAddress,Remarks)
			
			
			var str = "id="+id+"&fatherName="+fatherName+"&fatherPhone="+fatherPhone+
			"&motherName="+motherName+"&motherPhone="+motherPhone+"&homeAddress="+homeAddress+"&Remarks="+Remarks
			
			$.operate.save(prefix + "/edit", str);
   			layer.close(index);
		}
        
        function doSubmit2(index, layero){
			var body = layer.getChildFrame('body', index);
			var id  = body.find('#id').val()
			var approvalstate  = body.find('#approvalstate').val()
			var str = "id="+id+"&approvalstate="+approvalstate;
			$.operate.save(prefix + "/edit", str);
   			layer.close(index);
		}
        
 		function usersee (){
        	$.modal.alert("暂无此功能！！！")
        	console.log("usersee!!!")
        }
    </script>
</body>
</html>