<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('学生列列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <p>学生名</p>
                                <input type="text" name="studentsName"/>
                            </li>
                             <li>
                                <p>班级：</p>
                                <select class="form-control" name="classId">
                                	<option value=""></option>
									<option th:each="class:${classlist}" 
										th:value="${class.id}" 
										th:text="${class.nameclass}" >
									</option>
								</select>
                            </li>
                            <li class="select-time">
                                <p>入学时间：</p>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginAdmissionTime]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endAdmissionTime]"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
            
            <div class="btn-group-sm" id="toolbar" role="group">
             
            </div>
            
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "system/StudentOfficeStaff";
        var prefix2 = ctx + "system/schoolstudentslist";

        $(function() {
            var options = {
                url: prefix + "/listLeavingschool",
				importUrl: prefix + "/importData",
                modalName: "学生列",
                sortName:"createDate",
                sortOrder:"desc",
                columns: [{
                    checkbox: true
                },
                {
                    field : 'id', 
                    title : '编号',
                    visible: false
                },
                {
                    field : 'studentsId', 
                    title : '学生id'
                },
                {
                    field : 'studentsName', 
                    title : '学生名称'
                },
                {
                    field : 'academicLevel', 
                    title : '学级'
                },
                {
                    field : 'ages', 
                    title : '年龄'
                },
                {
                    field : 'admissionTime', 
                    title : '入学时间'
                },
                {
                    field : 'company', 
                    title : '就业单位',
                    formatter: function(value, row, index) {
                    	var datas = [[${@dict.getType('sys_company_list')}]];
                    	return $.table.selectDictLabel(datas, value);
                    }
                }]
            };
            $.table.init(options);
        });
        
        function jiuyeshenhe(id, state){
        	if (state == '1' || state == '2') {
        		$.modal.alertWarning("该学生已审批");
        		return; 
        	}
        	var url = prefix + "/jiuyeshenhe/" + id;
    		var options = {
   				title: '就业信息审核',
   				width: "380",
   				url: url,
   				callBack: doSubmit
   			};
   			$.modal.openOptions(options);
        }
        
        function doSubmit(index, layero){
			var body = layer.getChildFrame('body', index);
			var id  = body.find('#id').val()
			var comapproval  = body.find('#comapproval').val()
			var str = "id="+id+"&comapproval="+comapproval;
			$.operate.save(prefix2 + "/edit", str);
   			layer.close(index);
		}
 		
    </script>
</body>
</html>