<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('学生列列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <p>学生名</p>
                                <input type="text" name="studentsName"/>
                            </li>
                            <li>
                                <p>身份证号</p>
                                <input type="text" name="idnum"/>
                            </li>
                            <li>
                                <p>入学年月</p>
                                <input type="text" name="admissionTime"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
			<div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="jindu()">
                	离校办理进度统计
                </a>
                <a class="btn btn-success" onclick="lixiaojindu()">
                	离校进度统计
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:schoolstudentslist:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:schoolstudentslist:remove')}]];
        var prefix = ctx + "system/StudentOfficeStaff";
        var prefix2 = ctx + "system/schoolstudentslist";

        $(function() {
            var options = {
                url: prefix + "/listLeavingschool",
               // createUrl: prefix + "/add",
              //  updateUrl: prefix + "/edit/{id}",
              //  removeUrl: prefix + "/remove",
               // exportUrl: prefix + "/export",
                modalName: "学生列",
                columns: [{
                    checkbox: true
                },
                {
                    field : 'id', 
                    title : '编号',
                    visible: false
                },
                {
                    field : 'studentsId', 
                    title : '学生id'
                },
                {
                    field : 'studentsName', 
                    title : '学生名称'
                },
                {
                    field : 'idnum,', 
                    title : '身份证号'
                },
//                 {
//                     field : 'state', 
//                     title : '状态',
//                     formatter: function(value, row, index) {
//                     	var datas = [[${@dict.getType('system_schoolenrollmentmanagement_state')}]];
//                     	return $.table.selectDictLabel(datas, value);
//                     }
//                 },
                {
                    field : 'lixian1', 
                    title : '图书馆办理信息',
                    formatter: function(value, row, index) {
                    	if (value == '2') {
                    		return '已办理';
                    	}
                    	else {
                    		return '未办理';
                    	}
                    }
                },
                {
                    field : 'lixian2', 
                    title : '财务处办理信息',
                    formatter: function(value, row, index) {
                    	if (value == '2') {
                    		return '已办理';
                    	}
                    	else {
                    		return '未办理';
                    	}
                    }
                },
                {
                    field : 'lixian3', 
                    title : '一卡通办理信息',
                    formatter: function(value, row, index) {
                    	if (value == '2') {
                    		return '已办理';
                    	}
                    	else {
                    		return '未办理';
                    	}
                    }
                },
                {
                    field : 'lixian4', 
                    title : '一卡通办理信息',
                    formatter: function(value, row, index) {
                    	if (value == '2') {
                    		return '已办理';
                    	}
                    	else {
                    		return '未办理';
                    	}
                    }
                },
                {
                    field : 'lixian5', 
                    title : '组织关系转出信息',
                    formatter: function(value, row, index) {
                    	if (value == '2') {
                    		return '已办理';
                    	}
                    	else {
                    		return '未办理';
                    	}
                    }
                },
                {
                    field : 'lixian6', 
                    title : '户口转出信息',
                    formatter: function(value, row, index) {
                    	if (value == '2') {
                    		return '已办理';
                    	}
                    	else {
                    		return '未办理';
                    	}
                    }
                },
                {
                    field : 'lixian7', 
                    title : '毕业证发放信息',
                    formatter: function(value, row, index) {
                    	if (value == '2') {
                    		return '已办理';
                    	}
                    	else {
                    		return '未办理';
                    	}
                    }
                },
                /*{
                    field : 'remark', 
                    title : '备注'
                },
                {
                    field : 'remark2', 
                    title : '备注'
                },
                {
                    field : 'remark3', 
                    title : '备注'
                },
                {
                    field : 'remark4', 
                    title : '备注'
                },
                {
                    field : 'remark5', 
                    title : '备注'
                },
                {
                    field : 'remark6', 
                    title : '备注'
                },
                {
                    field : 'remark7', 
                    title : '备注'
                },
                {
                    field : 'remark8', 
                    title : '备注'
                },
                {
                    field : 'remark9', 
                    title : '备注'
                },
                {
                    field : 'remark10', 
                    title : '备注'
                },
                {
                    field : 'remark11', 
                    title : '备注'
                },
                {
                    field : 'remark12', 
                    title : '备注'
                },
                {
                    field : 'remark13', 
                    title : '备注'
                },
                {
                    field : 'remark14', 
                    title : '备注'
                },
                {
                    field : 'remark15', 
                    title : '备注'
                },
                {
                    field : 'remark16', 
                    title : '备注'
                },
                {
                    field : 'remark17', 
                    title : '备注'
                },
                {
                    field : 'deptalias', 
                    title : '部门表的别名'
                },
                {
                    field : 'useralias', 
                    title : '用户表的别名'
                }, */
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                   		actions.push('<a class="btn btn-success btn-xs" href="javascript:void(0)" onclick="lixiao(\'' + row.id + '\')">离校办理</a> ');
                   		actions.push('<a class="btn btn-success btn-xs" href="javascript:void(0)" onclick="lixian(\'' + row.id + '\')">离线办理</a> ');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
        
        function jindu() {
        	var url = ctx + "system/StudentOfficeStaff/jindu";
			$.modal.openTab("离校办理进度统计", url);
        }
        
        function lixiaojindu() {
        	var url = ctx + "system/StudentOfficeStaff/lixiaojindu";
			$.modal.openTab("离校进度统计", url);
        }
        
        function lixiao(id){
        	var url = prefix + "/lixiaobanli/" + id;
    		var options = {
   				title: '离校办理',
   				width: "380",
   				url: url,
   				callBack: doSubmit
   			};
   			$.modal.openOptions(options);
        }
        
        function doSubmit(index, layero){
			var body = layer.getChildFrame('body', index);
			
			var id  = body.find('#id').val()
			var state  = body.find('#state').val()
   			
			var str = "id="+id+"&state="+state;
			
			
			$.operate.save(prefix2 + "/edit", str);
   			layer.close(index);
		}
        

        function lixian(id){
        	var url = prefix + "/lixianbanli/" + id;
    		var options = {
   				title: '离线办理',
   				width: "380",
   				url: url,
   				callBack: doSubmit2
   			};
   			$.modal.openOptions(options);
        }
        
        function doSubmit2(index, layero){
			var body = layer.getChildFrame('body', index);
			
			var id  = body.find('#id').val()
			var lixian1  = body.find('#lixian1').val()
			var lixian2  = body.find('#lixian2').val()
			var lixian3  = body.find('#lixian3').val()
			var lixian4  = body.find('#lixian4').val()
			var lixian5  = body.find('#lixian5').val()
			var lixian6  = body.find('#lixian6').val()
			var lixian7  = body.find('#lixian7').val()
   			
			var str = "id="+id
			+"&lixian1="+lixian1
			+"&lixian2="+lixian2
			+"&lixian3="+lixian3
			+"&lixian4="+lixian4
			+"&lixian5="+lixian5
			+"&lixian6="+lixian6
			+"&lixian7="+lixian7;
			
			
			$.operate.save(prefix2 + "/edit", str);
   			layer.close(index);
		}
       
    </script>
</body>
</html>