<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('新增学生列')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<input id="id" name="id" th:field="${schoolstudentslist.id}"
					class="form-control" type="hidden" >
       	<div class="form-group">    
        	<label class="col-sm-3 control-label">图书馆办理信息：</label>
        	<div class="col-sm-8">
          		<select class="form-control" name="lixian1" id="lixian1">
	            	<option value="1" th:selected="${schoolstudentslist.lixian1}==1">未办理</option>
	            	<option value="2" th:selected="${schoolstudentslist.lixian1}==2">已办理</option>
				</select>
        	</div>
        </div>
       	<div class="form-group">    
        	<label class="col-sm-3 control-label">财务处办理信息：</label>
        	<div class="col-sm-8">
          		<select class="form-control" name="lixian2" id="lixian2">
	            	<option value="1" th:selected="${schoolstudentslist.lixian2}==1">未办理</option>
	            	<option value="2" th:selected="${schoolstudentslist.lixian2}==2">已办理</option>
				</select>
        	</div>
        </div>
       	<div class="form-group">    
        	<label class="col-sm-3 control-label">一卡通办理信息：</label>
        	<div class="col-sm-8">
          		<select class="form-control" name="lixian3" id="lixian3">
	            	<option value="1" th:selected="${schoolstudentslist.lixian3}==1">未办理</option>
	            	<option value="2" th:selected="${schoolstudentslist.lixian3}==2">已办理</option>
				</select>
        	</div>
        </div>
       	<div class="form-group">    
        	<label class="col-sm-3 control-label">退宿办理信息信息：</label>
        	<div class="col-sm-8">
          		<select class="form-control" name="lixian4" id="lixian4">
	            	<option value="1" th:selected="${schoolstudentslist.lixian4}==1">未办理</option>
	            	<option value="2" th:selected="${schoolstudentslist.lixian4}==2">已办理</option>
				</select>
        	</div>
        </div>
       	<div class="form-group">    
        	<label class="col-sm-3 control-label">组织关系转出信息：</label>
        	<div class="col-sm-8">
          		<select class="form-control" name="lixian5" id="lixian5">
	            	<option value="1" th:selected="${schoolstudentslist.lixian5}==1">未办理</option>
	            	<option value="2" th:selected="${schoolstudentslist.lixian5}==2">已办理</option>
				</select>
        	</div>
        </div>
       	<div class="form-group">    
        	<label class="col-sm-3 control-label">户口转出信息：</label>
        	<div class="col-sm-8">
          		<select class="form-control" name="lixian6" id="lixian6">
	            	<option value="1" th:selected="${schoolstudentslist.lixian6}==1">未办理</option>
	            	<option value="2" th:selected="${schoolstudentslist.lixian6}==2">已办理</option>
				</select>
        	</div>
        </div>
       	<div class="form-group">    
        	<label class="col-sm-3 control-label">毕业证发放信息：</label>
        	<div class="col-sm-8">
          		<select class="form-control" name="lixian7" id="lixian7">
	            	<option value="1" th:selected="${schoolstudentslist.lixian7}==1">未办理</option>
	            	<option value="2" th:selected="${schoolstudentslist.lixian7}==2">已办理</option>
				</select>
        	</div>
        </div>
	</div>
	<th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script type="text/javascript">
	   
    </script>
</body>
</html>