<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('新增学生列')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<input id="id" name="id" th:field="${schoolstudentslist.id}" class="form-control" type="hidden" >
		<input id="sbid2" name="sbid2" th:field="${schoolstudentslist.sbid}" class="form-control" type="hidden" >
		<input id="ssid2" name="ssid2" th:field="${schoolstudentslist.ssid}" class="form-control" type="hidden" >
		<div class="form-group">
			<label class="col-sm-3 control-label" id="col1">学生证号：</label>
			<div class="col-sm-8">
				<input id="cardnum" name="cardnum" th:field="${schoolstudentslist.cardnum}"
					class="form-control" type="text">
			</div>
		</div>
       	<div class="form-group">    
        	<label class="col-sm-3 control-label" id="col2">报到状态：</label>
        	<div class="col-sm-8">
          		<select class="form-control" name="reportstate" id="reportstate">
	            	<option value="1" th:selected="*{schoolstudentslist.reportstate}==1">报到</option>
	            	<option value="2" th:selected="*{schoolstudentslist.reportstate}==2">未报到</option>
				</select>
        	</div>
        </div>
       	<div class="hid-tag" style="display: block">
       		<div class="form-group">    
                <label class="col-sm-3 control-label" id="col3">未报到原因：</label>
                <div class="col-sm-8">
            	  	<select name="notreportresult" id="notreportresult" class="form-control" th:with="type=${@dict.getType('student_result')}">
	                  	<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:selected="*{schoolstudentslist.notreportresult}==${dict.dictValue}"></option>
	              	</select> 
                </div>
            </div>
       	</div>
       	<div class="form-group">    
        	<label class="col-sm-3 control-label" id="col4">缴费状态：</label>
        	<div class="col-sm-8">
          		<select class="form-control" name="paystate" id="paystate">
	            	<option value="1" th:selected="*{schoolstudentslist.paystate}==1">已缴费</option>
	            	<option value="2" th:selected="*{schoolstudentslist.paystate}==2">未缴费</option>
				</select>
        	</div>
        </div>
       	<div class="form-group">    
        	<label class="col-sm-3 control-label" id="col5">是否注册：</label>
        	<div class="col-sm-8">
          		<select class="form-control" name="isregister" id="isregister">
	            	<option value="1" th:selected="*{schoolstudentslist.isregister}==1">是</option>
	            	<option value="2" th:selected="*{schoolstudentslist.isregister}==2">否</option>
				</select>
        	</div>
        </div>
       	<div class="form-group">    
        	<label class="col-sm-3 control-label" id="col6">是否领取钥匙：</label>
        	<div class="col-sm-8">
          		<select class="form-control" name="isreceivekey" id="isreceivekey">
	            	<option value="1" th:selected="*{schoolstudentslist.isreceivekey}==1">是</option>
	            	<option value="2" th:selected="*{schoolstudentslist.isreceivekey}==2">否</option>
				</select>
        	</div>
        </div>
       	<div class="form-group">    
        	<label class="col-sm-3 control-label" id="col7">是否领取军训设备：</label>
        	<div class="col-sm-8">
          		<select class="form-control" name="isreceivejunxun" id="isreceivejunxun">
	            	<option value="1" th:selected="*{schoolstudentslist.isreceivejunxun}==1">是</option>
	            	<option value="2" th:selected="*{schoolstudentslist.isreceivejunxun}==2">否</option>
				</select>
        	</div>
        </div>
       	<div class="form-group">    
        	<label class="col-sm-3 control-label" id="col8">所属学院：</label>
        	<div class="col-sm-8">
				<select class="form-control" name="sbid" id="sbid">
<!-- 					<option value="">---请选择学院---</option> -->
					<option th:each="sb:${sblist}" 
							th:value="${sb.id}" 
							th:text="${sb.schoolName}" 
							th:selected="*{schoolstudentslist.sbid}==${sb.id}">
					</option>
				</select>
        	</div>
        </div>
       	<div class="form-group">    
        	<label class="col-sm-3 control-label" id="col9">所属专业：</label>
        	<div class="col-sm-8">
				<select class="form-control" name="ssid" id="ssid">
				</select>
        	</div>
        </div>
        <input type="hidden" id="col1_" th:value="${col1}">
        <input type="hidden" id="col2_" th:value="${col2}">
        <input type="hidden" id="col3_" th:value="${col3}">
        <input type="hidden" id="col4_" th:value="${col4}">
        <input type="hidden" id="col5_" th:value="${col5}">
        <input type="hidden" id="col6_" th:value="${col6}">
        <input type="hidden" id="col7_" th:value="${col7}">
        <input type="hidden" id="col8_" th:value="${col8}">
        <input type="hidden" id="col9_" th:value="${col9}">
	</div>
	<th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script type="text/javascript">

	$('#col1').text($('#col1_').val())
	$('#col2').text($('#col2_').val())
	$('#col3').text($('#col3_').val())
	$('#col4').text($('#col4_').val())
	$('#col5').text($('#col5_').val())
	$('#col6').text($('#col6_').val())
	$('#col7').text($('#col7_').val())
	$('#col8').text($('#col8_').val())
	$('#col9').text($('#col9_').val())
	
	    var sbid2 = $('#sbid2').val();
	    var ssid2 = $('#ssid2').val();
	    console.log(sbid2);
	    console.log(ssid2);
		$.ajax({
			type: "get",
			url: ctx + "system/StudentOfficeStaff/zhuanye/"+parseInt(sbid2),
			dataType: "json",
			success: function (data) {
				var append = '';
				for(var i=0; i<data.length; i++) {
					var ss = data[i];
					if (ssid2 == ss.id) {
						append += '<option value="'+ss.id+'" selected>'+ss.name+'</option>';
					}
					else {
						append += '<option value="'+ss.id+'">'+ss.name+'</option>';
					}
				}
				$('#ssid').html(append);
			},
			async: false
		});
    
	    if ($('select[name="reportstate"]').val() == '1') {
			$('.hid-tag').attr("style", "display: none")
	    }
	    
	    $('select[name="reportstate"]').change(function(){
	    	if ($('select[name="reportstate"]').val() == '1') {
	    		$('.hid-tag').attr("style", "display: none")
	    	}
	    	if ($('select[name="reportstate"]').val() == '2') {
	    		$('.hid-tag').attr("style", "display: block")
	    	}	
	    });
// 	    $('select[name="sbid"]').change(function(){
// 	    	var sbid = $('select[name="sbid"]').val();
// 	    	$.ajax({
// 	    		type: "get",
// 	    		url: ctx + "system/StudentOfficeStaff/zhuanye/"+sbid,
// 	    		dataType: "json",
// 	    		success: function (data) {
// 	    			var append = '';
// 	    			for(var i=0; i<data.length; i++) {
// 	    				var ss = data[i];
// 	    				append += '<option value="'+ss.id+'">'+ss.name+'</option>';
// 	    			}
// 	    			$('#ssid').html(append);
// 	    		},
// 	    		async: false
// 	    	});
// 	    });
    </script>
</body>
</html>