<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('学生列列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                    	<input type="hidden" id="resultId" name="resultId" th:value="${resultId}"/>
                        <ul>
                            <li>
                                <p>学生名称:</p>
                                <input type="text" name="studentsName"/>
                            </li>
                            <li>
                                <p>班级：</p>
                                <select  class="form-control" name="classId">
                                <option value="">----</option>
							    <option  th:each="schoolClass:${schoolClassList}" th:value="${schoolClass.id}" th:text="${schoolClass.nameclass}" ></option>
							    </select>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="luru()">补考清考成绩录入</a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:schoolstudentslist:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:schoolstudentslist:remove')}]];
		var resultId=[[${resultId}]]
        var prefix = ctx + "system/schoolResultDetail";
		function openadd(studentsId,resultId,detailId){
			console.log(studentsId)
			console.log(resultId)
			console.log(detailId)
			$.modal.open("录入成绩",ctx+"system/schoolResultDetail/add?studentsId="+studentsId+"&resultId="+resultId+"&detailId="+detailId);
		}
		function luru(){
			console.log(resultId)
			var sbid = $('#sbid').val();
			var ssid = $('#ssid').val();
        	var url = prefix + "/luru?id="+resultId;
			$.modal.openTab("补考清单", url);
		}
        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
               // exportUrl: prefix + "/export",
                modalName: "学生信息",
                sortName:"result",
                sortOrder:"desc",
                columns: [{
                    checkbox: true
                },
                {
                    field : 'id', 
                    title : '编号',
                    visible: false
                },
                {
                    field : 'studentsId', 
                    title : '学生id'
                },
                {
                    field : 'studentsName', 
                    title : '学生名称'
                },
                {
                    field : 'birth', 
                    title : '出生日期'
                },
                {
                    field : 'admissionTime', 
                    title : '入学年月'
                },
//                 {
//                     field : 'state', 
//                     title : '状态',
//                     formatter: function(value, row, index) {
//                     	return "-";
//                     }
//                 },
				{
                    field : 'sbname', 
                    title : '学院'
                },
                {
                    field : 'ssname', 
                    title : '专业'
                },
                {
                    field : 'nameclass', 
                    title : '班级'
                },
                {
                    field : 'result', 
                    title : '考试成绩',
                    formatter: function(value, row, index) {
                    	/* console.log(value);
                    	console.log(row); */
                    	/* console.log(index); */
                    	let returnStr="";
                    	let absentFlag= row.absent_flag;
                    	let detailId=row.did;
                    	if(value!=null){
                    		returnStr= "<a onclick='openadd("+row.id+","+resultId+","+detailId+")'>"+value+"</a>";
                    	}else{
                    		returnStr= "<a onclick='openadd("+row.id+","+resultId+","+detailId+")'>-------</a>"
                    	}
                    	if(absentFlag!=null){
                    		if(absentFlag=="1"){
                    			returnStr="<a onclick='openadd("+row.id+","+resultId+","+detailId+")'>缺席</a>";
                    		}
                    		
                    	}else{
                    		returnStr= "<a onclick='openadd("+row.id+","+resultId+","+detailId+")'>-------</a>"
                    	}
                    	return returnStr;
                    }
                },
                {
                    field : 'filename', 
                    title : '课程证书',
                    visible: false,
                    formatter: function(value, row, index) {
                    	var actions = [];
                    	console.log(row.file)
                    	console.log(row.filename)
                        if (row.file) {
    	                    return "<a onclick='ondownload()' data-value="+row.file+" >"+value+"</a>";
                        }
                        else {
                            return "<a onclick='upload("+row.did+")'>上传</a>";
                        }
                    }
                }]
            };
            $.table.init(options);
        });
        
        function ondownload(){
        	//console.log(event.currentTarget)
        	var objtp=$(event.currentTarget).attr("data-value");
        	console.log( ctx + "common/download/resource?resource=" + objtp)
        	window.location.href = ctx + "common/download/resource?resource=" + objtp;
        }
        
        function upload(id) {
        	$.operate.edit(id);
        }
        
        function vieweditor(id){
        	var url = prefix + "/vieweditor/" + id;
    		var options = {
   				title: '家庭信息',
   				width: "380",
   				url: url,
   				callBack: doSubmit
   			};
   			$.modal.openOptions(options);
        }
        
        function doSubmit(index, layero){
			var body = layer.getChildFrame('body', index);
			
			var id  = body.find('#id').val()
			var fatherName  = body.find('#fatherName').val()
			var fatherPhone  = body.find('#fatherPhone').val()
			var motherName  = body.find('#motherName').val()
			var motherPhone  = body.find('#motherPhone').val()
			var homeAddress  = body.find('#homeAddress').val()
			var Remarks  = body.find('#Remarks').val()
   			
			console.log(fatherName,fatherPhone,motherName,motherPhone,homeAddress,Remarks)
			
			
			var str = "id="+id+"&fatherName="+fatherName+"&fatherPhone="+fatherPhone+
			"&motherName="+motherName+"&motherPhone="+motherPhone+"&homeAddress="+homeAddress+"&Remarks="+Remarks
			
			$.operate.save(prefix + "/edit", str);
   			layer.close(index);
		}
 		function usersee (){
        	$.modal.alert("暂无此功能！！！")
        	console.log("usersee!!!")
        }
    </script>
</body>
</html>