<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('新增学生列')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<input id="id" name="id" th:field="${schoolstudentslist.id}"
					class="form-control" type="hidden" >
		<div class="form-group">
			<label class="col-sm-3 control-label">民族：</label>
			<div class="col-sm-8">
				<input id="nation" name="nation" th:field="${schoolstudentslist.nation}"
					class="form-control" type="text" >
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">政治面貌：</label>
			<div class="col-sm-8">
				<input id="remark10" name="remark10" th:field="${schoolstudentslist.remark10}"
					class="form-control" type="text" >
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">身份证号码：</label>
			<div class="col-sm-8">
				<input id="idnum" name="idnum" th:field="${schoolstudentslist.idnum}"
					class="form-control" type="text" >
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">户口所在地：</label>
			<div class="col-sm-8">
				<input id="remark9" name="remark9" th:field="${schoolstudentslist.remark9}"
					class="form-control" type="text" >
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">是否少数民族：</label>
			<div class="col-sm-8">
          		<select  class="form-control" id="remark13" name="remark13" th:with="type=${@dict.getType('common_isorno')}">
					<option th:each="dict : ${type}" th:selected="${dict.dictValue== schoolstudentslist.remark13}"  th:text="${dict.dictLabel}" th:value="${dict.dictValue}">
					</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">是否有拒签历史：</label>
			<div class="col-sm-8">
          		<select  class="form-control" id="isrefuse" name="isrefuse" th:with="type=${@dict.getType('common_isorno')}">
					<option th:each="dict : ${type}" th:selected="${dict.dictValue== schoolstudentslist.isrefuse}"  th:text="${dict.dictLabel}" th:value="${dict.dictValue}">
					</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">报名时间：</label>
			<div class="col-sm-8">
				<input id="remark23" name="remark23" th:field="${schoolstudentslist.remark23}"
					class="form-control" type="text" readonly="readonly">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">录取时间：</label>
			<div class="col-sm-8">
				<input id="remark24" name="remark24" th:field="${schoolstudentslist.remark24}"
					class="form-control" type="text" readonly="readonly">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">备注：</label>
			<div class="col-sm-8">
				<input id="Remarks" name="Remarks" th:field="${schoolstudentslist.Remarks}"
					class="form-control" type="text" >
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">用户：</label>
			<div class="col-sm-8">
				<input id="remark25" name="remark25" th:field="${schoolstudentslist.remark25}"
					class="form-control" type="text" >
			</div>
		</div>
	</div>
	<th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script type="text/javascript">
        
    </script>
</body>
</html>