<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('【请填写功能名称】列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                	<input type="hidden" name="did" th:value="${detailid}"/>
                    <div class="select-list">
                        <ul>
                            <li>
                                <p>选择：</p>
                                <input type="text" name="choose"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:detail:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:detail:remove')}]];
        var prefix = ctx + "system/examstudentlistdetail";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "【请填写功能名称】",
                columns: [{
                    checkbox: true
                },
                {
                    field : 'id', 
                    title : '题目ID'
                },
                {
                    field : 'name', 
                    title : '题目名称'
                },
                {
                    field : 'score', 
                    title : '题目分值'
                },
                {
                    field : 'choose', 
                    title : '选择答案'
                },
                {
                    title: '题目解析',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="" href="javascript:void(0)" onclick="see(\'' + row.id + '\')">查看</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
        
        function see(id) {
        	var url = prefix + "/see?qid=" + id;
    		var options = {
   				title: '题目解析',
   				width: "380",
   				height: "200",
   				url: url
   			};
   			$.modal.openOptions(options);
        }
        
    </script>
</body>
</html>