<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('新增学生列')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<div class="form-group">
			<label class="col-sm-3 control-label">题目名称：[[*{question.subjectName}]]</label>
			
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">正确答案：[[*{question.answer}]]</label>
			
		</div>
	</div>
	<th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script type="text/javascript">
        
    </script>
</body>
</html>