<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增教师管理')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-TeachingInfo-add">
            <div class="form-group">    
                <label class="col-sm-3 control-label">师资编号：</label>
                <div class="col-sm-8">
                    <input name="teacherId" class="form-control" type="text" required>
                </div>
            </div>
            <!-- <div class="form-group">    
                <label class="col-sm-3 control-label">性别：</label>
                <div class="col-sm-8">
                    <input name="gendername" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">生日：</label>
                <div class="col-sm-8">
                    <input name="birthday" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">入职时间：</label>
                <div class="col-sm-8">
                    <input name="entryDate" class="form-control" type="text">
                </div>
            </div> -->
           <!--  <div class="form-group">    
                <label class="col-sm-3 control-label">授课年数：</label>
                <div class="col-sm-8">
                    <input name="teachYears" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">证书编号：</label>
                <div class="col-sm-8">
                    <input name="certificateId" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">授课类别范围：</label>
                <div class="col-sm-8">
                    <input name="classScope" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">师资分类1、自有师资2、内训师资3、外部专家：</label>
                <div class="col-sm-8">
                    <input name="classificationTeachers" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">认证信息：</label>
                <div class="col-sm-8">
                    <input name="authenticationInformation" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">认证时间：</label>
                <div class="col-sm-8">
                    <input name="authenticationDate" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">认证等级：</label>
                <div class="col-sm-8">
                    <input name="certificationGrade" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">认证照片：</label>
                <div class="col-sm-8">
                    <input name="certificationImage" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">师资备注：</label>
                <div class="col-sm-8">
                    <input name="remarksTeachers" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">专业方向：</label>
                <div class="col-sm-8">
                    <input name="professionalDirection" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">科研成果：</label>
                <div class="col-sm-8">
                    <input name="scientificResearch" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">专题信息：</label>
                <div class="col-sm-8">
                    <input name="thematicInformation" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">教学情况：</label>
                <div class="col-sm-8">
                    <input name="teachingSituation" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">教学反馈意见：</label>
                <div class="col-sm-8">
                    <input name="teachingFeedback" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">反馈意见：</label>
                <div class="col-sm-8">
                    <input name="feedbackOpinion" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">证书编号name：</label>
                <div class="col-sm-8">
                    <input name="certificateName" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">认证照片名：</label>
                <div class="col-sm-8">
                    <input name="certificationName" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">认证状态：</label>
                <div class="col-sm-8">
                    <input name="certificationState" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">创建时间：</label>
                <div class="col-sm-8">
                    <input name="createtime1" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <input name="remarks" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">是否删除：</label>
                <div class="col-sm-8">
                    <input name="isdelete" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">分析报告：</label>
                <div class="col-sm-8">
                    <input name="analysisReport" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">null：</label>
                <div class="col-sm-8">
                    <input name="teachPlace" class="form-control" type="text">
                </div>
            </div> -->
            <div class="form-group">    
                <label class="col-sm-3 control-label">教师名称：</label>
                <div class="col-sm-8">
                    <input name="teachingName" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">科目：</label>
                <div class="col-sm-8">
                    <input name="subjectName" class="form-control"/>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">是否班主任：</label>
                <div class="col-sm-8">
                     <div class="radio-box" th:each="dict : ${@dict.getType('system_teachingInfo_headteacher')}">
						<input type="radio" th:id="${dict.dictCode}" name="visible" th:value="${dict.dictValue}" th:checked="${dict.default}">
						<label th:for="${dict.dictCode}" th:text="${dict.dictLabel}"></label>
					</div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">累计课时：</label>
                <div class="col-sm-8">
                    <input name="cumulativeClassHours" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">职称：</label>
                <div class="col-sm-8">
                    <input name="jobTitle" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">档案所在地：</label>
                <div class="col-sm-8">
                    <input name="fileLocation" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">教学记录：</label>
                <div class="col-sm-8">
                    <input name="teachingRecord" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">账户id：</label>
                <div class="col-sm-8">
                    <input name="userId" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group" style="display: none">    
                <label class="col-sm-3 control-label">认证照片：</label>
                <div class="col-sm-8">
                    <input name="certificationImage" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">认证照片：</label>
                <div class="col-sm-8">
                    <input name="certificationName" class="form-control" type="text" style="display: none">
                    <input id="filePath" name="filePath" class="form-control" type="file">
                </div>
            </div>
           <!--  <div class="form-group">
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <textarea name="remark1" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <textarea name="remark2" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <textarea name="remark3" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <textarea name="remark4" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <textarea name="remark5" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <textarea name="remark6" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <textarea name="remark7" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <textarea name="remark8" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <textarea name="remark9" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <textarea name="remark10" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <textarea name="remark11" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <textarea name="remark12" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <textarea name="remark13" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <textarea name="remark14" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <textarea name="remark15" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <textarea name="remark16" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <textarea name="remark17" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">删除标记 0:正常;1:删除：</label>
                <div class="col-sm-8">
                    <input name="delFlag" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">部门表的别名：</label>
                <div class="col-sm-8">
                    <input name="deptalias" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">用户表的别名：</label>
                <div class="col-sm-8">
                    <input name="useralias" class="form-control" type="text">
                </div>
            </div> -->
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript">
        var prefix = ctx + "system/TeachingInfo"
        var filefix = ctx + "system/fileinfo";
        $("#form-TeachingInfo-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
        	console.log($('#form-TeachingInfo-add').serialize())
        	//return

            if ($.validate.form()) {
            	uploadFile();
                $.operate.save(prefix + "/add", $('#form-TeachingInfo-add').serialize());
            }
        }
        
        function uploadFile() {
        	var formData = new FormData();
        	if ($('#filePath')[0].files[0] == null) {
        		$.modal.alertWarning("请先选择文件路径");
        		return false;
        	}
        	formData.append('file', $('#filePath')[0].files[0]);
        	$.ajax({
        		url: filefix + "/add",
        		type: 'post',
        		cache: false,
        		data: formData,
        		processData: false,
        		contentType: false,
        		dataType: "json",
        		async: false,
        		success: function(result) {
        			var file = result.file;
        			if (file) {
        				$('input[name="certificationName"]').val(file.fileName);
        				$('input[name="certificationImage"]').val(file.filePath);
        			}
        		}
        	});
        }
    </script>
</body>
</html>