<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.system.classschedulingmanagement.mapper.ClassschedulingmanagementMapper">
    
    <resultMap type="Classschedulingmanagement" id="ClassschedulingmanagementResult">
        <result property="id"    column="id"    />
        <result property="rowId"    column="row_id"    />
        <result property="classId"    column="class_id"    />
        <result property="classGrade"    column="class_grade"    />
        <result property="classStatus"    column="class_status"    />
        <!-- <result property="class_name"    column="className"    /> -->
        <result property="remark"    column="remark"    />
        <result property="remark1"    column="remark1"    />
        <result property="remark2"    column="remark2"    />
        <result property="remark3"    column="remark3"    />
        <result property="remark4"    column="remark4"    />
        <result property="remark5"    column="remark5"    />
        <result property="remark6"    column="remark6"    />
        <result property="remark7"    column="remark7"    />
        <result property="remark8"    column="remark8"    />
        <result property="remark9"    column="remark9"    />
        <result property="remark10"    column="remark10"    />
        <result property="remark11"    column="remark11"    />
        <result property="remark12"    column="remark12"    />
        <result property="remark13"    column="remark13"    />
        <result property="remark14"    column="remark14"    />
        <result property="remark15"    column="remark15"    />
        <result property="remark16"    column="remark16"    />
        <result property="remark17"    column="remark17"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="deptalias"    column="deptAlias"    />
        <result property="useralias"    column="userAlias"    />
        
    </resultMap>

    <sql id="selectClassschedulingmanagementVo">
        select id, row_id, class_id,class_name as className, class_grade, class_status, remark, remark1, remark2, remark3, remark4, remark5, remark6, remark7, remark8, remark9, remark10, remark11, remark12, remark13, remark14, remark15, remark16, remark17, del_flag, deptAlias, userAlias from classschedulingmanagement
    </sql>

    <select id="selectClassschedulingmanagementList" parameterType="Classschedulingmanagement" resultMap="ClassschedulingmanagementResult">
        <include refid="selectClassschedulingmanagementVo"/>
        <where>  
            <if test="rowId != null  and rowId != ''"> and row_id = #{rowId}</if>
            <if test="classId != null  and classId != ''"> and class_id = #{classId}</if>
            <if test="classGrade != null  and classGrade != ''"> and class_grade = #{classGrade}</if>
            <if test="classStatus != null  and classStatus != ''"> and class_status = #{classStatus}</if>
            <if test="remark1 != null  and remark1 != ''"> and remark1 = #{remark1}</if>
            <if test="remark2 != null  and remark2 != ''"> and remark2 = #{remark2}</if>
            <if test="remark3 != null  and remark3 != ''"> and remark3 = #{remark3}</if>
            <if test="remark4 != null  and remark4 != ''"> and remark4 = #{remark4}</if>
            <if test="remark5 != null  and remark5 != ''"> and remark5 = #{remark5}</if>
            <if test="remark6 != null  and remark6 != ''"> and remark6 = #{remark6}</if>
            <if test="remark7 != null  and remark7 != ''"> and remark7 = #{remark7}</if>
            <if test="remark8 != null  and remark8 != ''"> and remark8 = #{remark8}</if>
            <if test="remark9 != null  and remark9 != ''"> and remark9 = #{remark9}</if>
            <if test="remark10 != null  and remark10 != ''"> and remark10 = #{remark10}</if>
            <if test="remark11 != null  and remark11 != ''"> and remark11 = #{remark11}</if>
            <if test="remark12 != null  and remark12 != ''"> and remark12 = #{remark12}</if>
            <if test="remark13 != null  and remark13 != ''"> and remark13 = #{remark13}</if>
            <if test="remark14 != null  and remark14 != ''"> and remark14 = #{remark14}</if>
            <if test="remark15 != null  and remark15 != ''"> and remark15 = #{remark15}</if>
            <if test="remark16 != null  and remark16 != ''"> and remark16 = #{remark16}</if>
            <if test="remark17 != null  and remark17 != ''"> and remark17 = #{remark17}</if>
            <if test="deptalias != null  and deptalias != ''"> and deptAlias = #{deptalias}</if>
            <if test="useralias != null  and useralias != ''"> and userAlias = #{useralias}</if>
        </where>
    </select>
    
    <select id="selectClassschedulingmanagementById" parameterType="Long" resultMap="ClassschedulingmanagementResult">
        <include refid="selectClassschedulingmanagementVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertClassschedulingmanagement" parameterType="Classschedulingmanagement" useGeneratedKeys="true" keyProperty="id">
        insert into classschedulingmanagement
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="rowId != null  and rowId != ''">row_id,</if>
            <if test="classId != null  and classId != ''">class_id,</if>
            <if test="classGrade != null  and classGrade != ''">class_grade,</if>
            <if test="classStatus != null  and classStatus != ''">class_status,</if>
            <if test="remark != null  and remark != ''">remark,</if>
            <if test="remark1 != null  and remark1 != ''">remark1,</if>
            <if test="remark2 != null  and remark2 != ''">remark2,</if>
            <if test="remark3 != null  and remark3 != ''">remark3,</if>
            <if test="remark4 != null  and remark4 != ''">remark4,</if>
            <if test="remark5 != null  and remark5 != ''">remark5,</if>
            <if test="remark6 != null  and remark6 != ''">remark6,</if>
            <if test="remark7 != null  and remark7 != ''">remark7,</if>
            <if test="remark8 != null  and remark8 != ''">remark8,</if>
            <if test="remark9 != null  and remark9 != ''">remark9,</if>
            <if test="remark10 != null  and remark10 != ''">remark10,</if>
            <if test="remark11 != null  and remark11 != ''">remark11,</if>
            <if test="remark12 != null  and remark12 != ''">remark12,</if>
            <if test="remark13 != null  and remark13 != ''">remark13,</if>
            <if test="remark14 != null  and remark14 != ''">remark14,</if>
            <if test="remark15 != null  and remark15 != ''">remark15,</if>
            <if test="remark16 != null  and remark16 != ''">remark16,</if>
            <if test="remark17 != null  and remark17 != ''">remark17,</if>
            <if test="delFlag != null ">del_flag,</if>
            <if test="deptalias != null  and deptalias != ''">deptAlias,</if>
            <if test="useralias != null  and useralias != ''">userAlias,</if>
            <if test="className != null  and className != ''">class_name,</if>
            <if test="gradeId != null  and gradeId != ''">grade_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="rowId != null  and rowId != ''">#{rowId},</if>
            <if test="classId != null  and classId != ''">#{classId},</if>
            <if test="classGrade != null  and classGrade != ''">#{classGrade},</if>
            <if test="classStatus != null  and classStatus != ''">#{classStatus},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
            <if test="remark1 != null  and remark1 != ''">#{remark1},</if>
            <if test="remark2 != null  and remark2 != ''">#{remark2},</if>
            <if test="remark3 != null  and remark3 != ''">#{remark3},</if>
            <if test="remark4 != null  and remark4 != ''">#{remark4},</if>
            <if test="remark5 != null  and remark5 != ''">#{remark5},</if>
            <if test="remark6 != null  and remark6 != ''">#{remark6},</if>
            <if test="remark7 != null  and remark7 != ''">#{remark7},</if>
            <if test="remark8 != null  and remark8 != ''">#{remark8},</if>
            <if test="remark9 != null  and remark9 != ''">#{remark9},</if>
            <if test="remark10 != null  and remark10 != ''">#{remark10},</if>
            <if test="remark11 != null  and remark11 != ''">#{remark11},</if>
            <if test="remark12 != null  and remark12 != ''">#{remark12},</if>
            <if test="remark13 != null  and remark13 != ''">#{remark13},</if>
            <if test="remark14 != null  and remark14 != ''">#{remark14},</if>
            <if test="remark15 != null  and remark15 != ''">#{remark15},</if>
            <if test="remark16 != null  and remark16 != ''">#{remark16},</if>
            <if test="remark17 != null  and remark17 != ''">#{remark17},</if>
            <if test="delFlag != null ">#{delFlag},</if>
            <if test="deptalias != null  and deptalias != ''">#{deptalias},</if>
            <if test="useralias != null  and useralias != ''">#{useralias},</if>
            <if test="className != null  and className != ''">#{className},</if>
             <if test="gradeId != null  and gradeId != ''">#{gradeId},</if>
         </trim>
    </insert>

    <update id="updateClassschedulingmanagement" parameterType="Classschedulingmanagement">
        update classschedulingmanagement
        <trim prefix="SET" suffixOverrides=",">
            <if test="rowId != null  and rowId != ''">row_id = #{rowId},</if>
            <if test="classId != null  and classId != ''">class_id = #{classId},</if>
            <if test="classGrade != null  and classGrade != ''">class_grade = #{classGrade},</if>
            <if test="classStatus != null  and classStatus != ''">class_status = #{classStatus},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
            <if test="remark1 != null  and remark1 != ''">remark1 = #{remark1},</if>
            <if test="remark2 != null  and remark2 != ''">remark2 = #{remark2},</if>
            <if test="remark3 != null  and remark3 != ''">remark3 = #{remark3},</if>
            <if test="remark4 != null  and remark4 != ''">remark4 = #{remark4},</if>
            <if test="remark5 != null  and remark5 != ''">remark5 = #{remark5},</if>
            <if test="remark6 != null  and remark6 != ''">remark6 = #{remark6},</if>
            <if test="remark7 != null  and remark7 != ''">remark7 = #{remark7},</if>
            <if test="remark8 != null  and remark8 != ''">remark8 = #{remark8},</if>
            <if test="remark9 != null  and remark9 != ''">remark9 = #{remark9},</if>
            <if test="remark10 != null  and remark10 != ''">remark10 = #{remark10},</if>
            <if test="remark11 != null  and remark11 != ''">remark11 = #{remark11},</if>
            <if test="remark12 != null  and remark12 != ''">remark12 = #{remark12},</if>
            <if test="remark13 != null  and remark13 != ''">remark13 = #{remark13},</if>
            <if test="remark14 != null  and remark14 != ''">remark14 = #{remark14},</if>
            <if test="remark15 != null  and remark15 != ''">remark15 = #{remark15},</if>
            <if test="remark16 != null  and remark16 != ''">remark16 = #{remark16},</if>
            <if test="remark17 != null  and remark17 != ''">remark17 = #{remark17},</if>
            <if test="delFlag != null ">del_flag = #{delFlag},</if>
            <if test="deptalias != null  and deptalias != ''">deptAlias = #{deptalias},</if>
            <if test="useralias != null  and useralias != ''">userAlias = #{useralias},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteClassschedulingmanagementById" parameterType="Long">
        delete from classschedulingmanagement where id = #{id}
    </delete>

    <delete id="deleteClassschedulingmanagementByIds" parameterType="String">
        delete from classschedulingmanagement where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>