<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.system.coursemanagement.mapper.CoursemanagementMapper">
    
    <resultMap type="Coursemanagement" id="CoursemanagementResult">
        <result property="id"    column="id"    />
        <result property="rowId"    column="row_id"    />
        <result property="subjectmanagementId"    column="subjectmanagement_id"    />
        <result property="studentsName"    column="students_name"    />
        <result property="academicLevel"    column="academic_level"    />
        <result property="curriculuSystem"    column="curriculu_system"    />
        <result property="curriculuSystemname"    column="curriculu_system_name"    />
        
        <result property="accumulatedClassHour"    column="accumulated_class_hour"    />
        <result property="courseFascicle"    column="course_fascicle"    />
        <result property="remark"    column="remark"    />
        <result property="remark1"    column="remark1"    />
        <result property="remark2"    column="remark2"    />
        <result property="remark3"    column="remark3"    />
        <result property="remark4"    column="remark4"    />
        <result property="remark5"    column="remark5"    />
        <result property="remark6"    column="remark6"    />
        <result property="remark7"    column="remark7"    />
        <result property="remark8"    column="remark8"    />
        <result property="remark9"    column="remark9"    />
        <result property="remark10"    column="remark10"    />
        <result property="remark11"    column="remark11"    />
        <result property="remark12"    column="remark12"    />
        <result property="remark13"    column="remark13"    />
        <result property="remark14"    column="remark14"    />
        <result property="remark15"    column="remark15"    />
        <result property="remark16"    column="remark16"    />
        <result property="remark17"    column="remark17"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="deptalias"    column="deptAlias"    />
        <result property="useralias"    column="userAlias"    />
        <result property="teacherId"    column="teacher_id"    />
        <result property="createDate"    column="create_date"    />
        <result property="sbid"    column="sbid"    />
        <result property="ssid"    column="ssid"    />
        <result property="grade"    column="grade"    />
        <result property="file"    column="file"    />
        <result property="filename"    column="filename"    />
    </resultMap>

    <sql id="selectCoursemanagementVo">
        select id,sbid,ssid,grade, row_id, subjectmanagement_id, students_name, academic_level, curriculu_system, accumulated_class_hour, course_fascicle, remark, remark1, remark2, remark3, remark4, remark5, remark6, remark7, remark8, remark9, remark10, remark11, remark12, remark13, remark14, remark15, remark16, remark17, del_flag, deptAlias, userAlias,teacher_id,create_date from coursemanagement
    </sql>

    <select id="selectCoursemanagementList" parameterType="Coursemanagement" resultMap="CoursemanagementResult">
    	SELECT
			co.id,
			co.row_id,
			co.subjectmanagement_id,
			co.students_name,
			co.academic_level,
			co.curriculu_system,
			co.accumulated_class_hour,
			co.course_fascicle,
			co.remark,
			co.remark1,
			co.remark2,
			co.remark3,
			co.remark4,
			co.remark5,
			co.remark6,
			co.remark7,
			co.remark8,
			co.remark9,
			co.remark10,
			co.remark11,
			co.remark12,
			co.remark13,
			co.remark14,
			co.remark15,
			co.remark16,
			co.remark17,
			co.del_flag,
			co.deptAlias,
			co.userAlias,
			co.teacher_id,
			sj.students_name AS subjectmanagementName,
			ti.teaching_name AS teachingName,
			ti.certification_image as teachingIcon,
			co.create_date,
			( SELECT NAME FROM course_system WHERE id = co.curriculu_system ) AS 'curriculu_system_name',
			( SELECT school_name FROM school_belong WHERE id = co.sbid ) AS 'sbid',
			( SELECT NAME FROM school_specialty WHERE id = co.ssid ) AS 'ssid',
			co.grade
            <if test="studentid != null and studentid != ''">
				,(select file from coursemanagementfile where courseid=co.id and studentid=#{studentid}) as file
				,(select filename from coursemanagementfile where courseid=co.id and studentid=#{studentid}) as filename
			</if>
		FROM
			coursemanagement co
			LEFT JOIN subjectmanagement sj ON sj.id = co.subjectmanagement_id
			LEFT JOIN teaching_info ti ON ti.id = co.teacher_id
        <where>  
            <if test="rowId != null  and rowId != ''"> and row_id = #{rowId}</if>
            <if test="subjectmanagementId != null  and subjectmanagementId != ''"> and subjectmanagement_id = #{subjectmanagementId}</if>
            <if test="studentsName != null  and studentsName != ''"> and co.students_name like concat('%', #{studentsName}, '%')</if>
            <if test="academicLevel != null  and academicLevel != ''"> and academic_level = #{academicLevel}</if>
            <if test="curriculuSystem != null  and curriculuSystem != ''"> and co.curriculu_system = #{curriculuSystem}</if>
            <if test="accumulatedClassHour != null  and accumulatedClassHour != ''"> and accumulated_class_hour = #{accumulatedClassHour}</if>
            <if test="courseFascicle != null  and courseFascicle != ''"> and course_fascicle = #{courseFascicle}</if>
            <if test="remark1 != null  and remark1 != ''"> and remark1 = #{remark1}</if>
            <if test="remark2 != null  and remark2 != ''"> and remark2 = #{remark2}</if>
            <if test="remark3 != null  and remark3 != ''"> and remark3 = #{remark3}</if>
            <if test="remark4 != null  and remark4 != ''"> and remark4 = #{remark4}</if>
            <if test="remark5 != null  and remark5 != ''"> and remark5 = #{remark5}</if>
            <if test="remark6 != null  and remark6 != ''"> and remark6 = #{remark6}</if>
            <if test="remark7 != null  and remark7 != ''"> and remark7 = #{remark7}</if>
            <if test="remark8 != null  and remark8 != ''"> and remark8 = #{remark8}</if>
            <if test="remark9 != null  and remark9 != ''"> and remark9 = #{remark9}</if>
            <if test="remark10 != null  and remark10 != ''"> and remark10 = #{remark10}</if>
            <if test="remark11 != null  and remark11 != ''"> and remark11 = #{remark11}</if>
            <if test="remark12 != null  and remark12 != ''"> and remark12 = #{remark12}</if>
            <if test="remark13 != null  and remark13 != ''"> and remark13 = #{remark13}</if>
            <if test="remark14 != null  and remark14 != ''"> and remark14 = #{remark14}</if>
            <if test="remark15 != null  and remark15 != ''"> and remark15 = #{remark15}</if>
            <if test="remark16 != null  and remark16 != ''"> and remark16 = #{remark16}</if>
            <if test="remark17 != null  and remark17 != ''"> and remark17 = #{remark17}</if>
            <if test="deptalias != null  and deptalias != ''"> and deptAlias = #{deptalias}</if>
            <if test="useralias != null  and useralias != ''"> and userAlias = #{useralias}</if>
            <if test="teacherId != null  and teacherId != ''"> and ti.id = #{teacherId}</if>
            <if test="studentid != null  and studentid != ''"> and co.id in (select courseid from coursemanagementfile where studentid = #{studentid})</if> 
            <if test="sbid != null  and sbid != ''"> and sbid = #{sbid}</if>
            <if test="ssid != null  and ssid != ''"> and ssid = #{ssid}</if>
            <if test="grade != null  and grade != ''"> and co.grade = #{grade}</if>
        </where>
    </select>
    
    <select id="selectCoursemanagementById" parameterType="Long" resultMap="CoursemanagementResult">
        <include refid="selectCoursemanagementVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertCoursemanagement" parameterType="Coursemanagement" useGeneratedKeys="true" keyProperty="id">
        insert into coursemanagement
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="rowId != null  and rowId != ''">row_id,</if>
            <if test="subjectmanagementId != null  and subjectmanagementId != ''">subjectmanagement_id,</if>
            <if test="studentsName != null  and studentsName != ''">students_name,</if>
            <if test="academicLevel != null  and academicLevel != ''">academic_level,</if>
            <if test="curriculuSystem != null  and curriculuSystem != ''">curriculu_system,</if>
            <if test="accumulatedClassHour != null  and accumulatedClassHour != ''">accumulated_class_hour,</if>
            <if test="courseFascicle != null  and courseFascicle != ''">course_fascicle,</if>
            <if test="remark != null  and remark != ''">remark,</if>
            <if test="remark1 != null  and remark1 != ''">remark1,</if>
            <if test="remark2 != null  and remark2 != ''">remark2,</if>
            <if test="remark3 != null  and remark3 != ''">remark3,</if>
            <if test="remark4 != null  and remark4 != ''">remark4,</if>
            <if test="remark5 != null  and remark5 != ''">remark5,</if>
            <if test="remark6 != null  and remark6 != ''">remark6,</if>
            <if test="remark7 != null  and remark7 != ''">remark7,</if>
            <if test="remark8 != null  and remark8 != ''">remark8,</if>
            <if test="remark9 != null  and remark9 != ''">remark9,</if>
            <if test="remark10 != null  and remark10 != ''">remark10,</if>
            <if test="remark11 != null  and remark11 != ''">remark11,</if>
            <if test="remark12 != null  and remark12 != ''">remark12,</if>
            <if test="remark13 != null  and remark13 != ''">remark13,</if>
            <if test="remark14 != null  and remark14 != ''">remark14,</if>
            <if test="remark15 != null  and remark15 != ''">remark15,</if>
            <if test="remark16 != null  and remark16 != ''">remark16,</if>
            <if test="remark17 != null  and remark17 != ''">remark17,</if>
            <if test="delFlag != null ">del_flag,</if>
            <if test="deptalias != null  and deptalias != ''">deptAlias,</if>
            <if test="useralias != null  and useralias != ''">userAlias,</if>
            <if test="teacherId  != null  and teacherId  != ''">teacher_id,</if>
            <if test="createDate  != null  and createDate  != ''">create_date,</if>
            <if test="ssid  != null  and ssid  != ''">ssid,</if>
            <if test="sbid  != null  and sbid  != ''">sbid,</if>
            <if test="grade  != null  and grade  != ''">grade,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="rowId != null  and rowId != ''">#{rowId},</if>
            <if test="subjectmanagementId != null  and subjectmanagementId != ''">#{subjectmanagementId},</if>
            <if test="studentsName != null  and studentsName != ''">#{studentsName},</if>
            <if test="academicLevel != null  and academicLevel != ''">#{academicLevel},</if>
            <if test="curriculuSystem != null  and curriculuSystem != ''">#{curriculuSystem},</if>
            <if test="accumulatedClassHour != null  and accumulatedClassHour != ''">#{accumulatedClassHour},</if>
            <if test="courseFascicle != null  and courseFascicle != ''">#{courseFascicle},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
            <if test="remark1 != null  and remark1 != ''">#{remark1},</if>
            <if test="remark2 != null  and remark2 != ''">#{remark2},</if>
            <if test="remark3 != null  and remark3 != ''">#{remark3},</if>
            <if test="remark4 != null  and remark4 != ''">#{remark4},</if>
            <if test="remark5 != null  and remark5 != ''">#{remark5},</if>
            <if test="remark6 != null  and remark6 != ''">#{remark6},</if>
            <if test="remark7 != null  and remark7 != ''">#{remark7},</if>
            <if test="remark8 != null  and remark8 != ''">#{remark8},</if>
            <if test="remark9 != null  and remark9 != ''">#{remark9},</if>
            <if test="remark10 != null  and remark10 != ''">#{remark10},</if>
            <if test="remark11 != null  and remark11 != ''">#{remark11},</if>
            <if test="remark12 != null  and remark12 != ''">#{remark12},</if>
            <if test="remark13 != null  and remark13 != ''">#{remark13},</if>
            <if test="remark14 != null  and remark14 != ''">#{remark14},</if>
            <if test="remark15 != null  and remark15 != ''">#{remark15},</if>
            <if test="remark16 != null  and remark16 != ''">#{remark16},</if>
            <if test="remark17 != null  and remark17 != ''">#{remark17},</if>
            <if test="delFlag != null ">#{delFlag},</if>
            <if test="deptalias != null  and deptalias != ''">#{deptalias},</if>
            <if test="useralias != null  and useralias != ''">#{useralias},</if>
            <if test="teacherId  != null  and teacherId  != ''">#{teacherId},</if>
            <if test="createDate  != null  and createDate  != ''">#{createDate},</if>
            <if test="ssid  != null  and ssid  != ''">#{ssid},</if>
            <if test="sbid  != null  and sbid  != ''">#{sbid},</if>
            <if test="grade  != null  and grade  != ''">#{grade},</if>
         </trim>
    </insert>

    <update id="updateCoursemanagement" parameterType="Coursemanagement">
        update coursemanagement
        <trim prefix="SET" suffixOverrides=",">
            <if test="rowId != null  and rowId != ''">row_id = #{rowId},</if>
            <if test="subjectmanagementId != null  and subjectmanagementId != ''">subjectmanagement_id = #{subjectmanagementId},</if>
            <if test="studentsName != null  and studentsName != ''">students_name = #{studentsName},</if>
            <if test="academicLevel != null  and academicLevel != ''">academic_level = #{academicLevel},</if>
            <if test="curriculuSystem != null  and curriculuSystem != ''">curriculu_system = #{curriculuSystem},</if>
            <if test="accumulatedClassHour != null  and accumulatedClassHour != ''">accumulated_class_hour = #{accumulatedClassHour},</if>
            <if test="courseFascicle != null  and courseFascicle != ''">course_fascicle = #{courseFascicle},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
            <if test="remark1 != null  and remark1 != ''">remark1 = #{remark1},</if>
            <if test="remark2 != null  and remark2 != ''">remark2 = #{remark2},</if>
            <if test="remark3 != null  and remark3 != ''">remark3 = #{remark3},</if>
            <if test="remark4 != null  and remark4 != ''">remark4 = #{remark4},</if>
            <if test="remark5 != null  and remark5 != ''">remark5 = #{remark5},</if>
            <if test="remark6 != null  and remark6 != ''">remark6 = #{remark6},</if>
            <if test="remark7 != null  and remark7 != ''">remark7 = #{remark7},</if>
            <if test="remark8 != null  and remark8 != ''">remark8 = #{remark8},</if>
            <if test="remark9 != null  and remark9 != ''">remark9 = #{remark9},</if>
            <if test="remark10 != null  and remark10 != ''">remark10 = #{remark10},</if>
            <if test="remark11 != null  and remark11 != ''">remark11 = #{remark11},</if>
            <if test="remark12 != null  and remark12 != ''">remark12 = #{remark12},</if>
            <if test="remark13 != null  and remark13 != ''">remark13 = #{remark13},</if>
            <if test="remark14 != null  and remark14 != ''">remark14 = #{remark14},</if>
            <if test="remark15 != null  and remark15 != ''">remark15 = #{remark15},</if>
            <if test="remark16 != null  and remark16 != ''">remark16 = #{remark16},</if>
            <if test="remark17 != null  and remark17 != ''">remark17 = #{remark17},</if>
            <if test="delFlag != null ">del_flag = #{delFlag},</if>
            <if test="deptalias != null  and deptalias != ''">deptAlias = #{deptalias},</if>
            <if test="useralias != null  and useralias != ''">userAlias = #{useralias},</if>
            <if test="teacherId  != null  and teacherId  != ''">teacher_id=#{teacherId},</if>
            <if test="ssid  != null  and ssid  != ''">ssid=#{ssid},</if>
            <if test="sbid  != null  and sbid  != ''">sbid=#{sbid},</if>
            <if test="grade  != null  and grade  != ''">grade=#{grade},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCoursemanagementById" parameterType="Long">
        delete from coursemanagement where id = #{id}
    </delete>

    <delete id="deleteCoursemanagementByIds" parameterType="String">
        delete from coursemanagement where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>