<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.system.schoolClass.mapper.SchoolClassMapper">
    
    <resultMap type="SchoolClass" id="SchoolClassResult">
        <result property="id"    column="id"    />
        <result property="num"    column="num"    />
        <result property="state"    column="state"    />
        <result property="nameclass"    column="nameclass"    />
        <result property="gradelistId"    column="gradelist_id"    />
        <result property="createDate"    column="create_date"    />
        <result property="updateDate"    column="update_date"    />
        <result property="deleteFlag"    column="delete_flag"    />
        <result property="sbid"    column="sbid"    />
        <result property="ssid"    column="ssid"    />
    </resultMap>

    <sql id="selectSchoolClassVo">
		SELECT
			c.id AS 'id',
			c.gradelist_id as 'grade',
			c.num AS 'num',
			c.state AS 'state',
			c.nameclass AS 'nameclass',
			c.gradelist_id AS 'gradelist_id',
			c.create_date AS 'create_date',
			c.update_date AS 'update_date',
			c.delete_flag AS 'delete_flag',
			c.sbid,
			c.ssid,
			(
				SELECT
					count(*)
				FROM
					schoolstudentslist
				WHERE
					del_flag = 0
				AND class_id = c.id
			) AS 'studentnum'
		FROM
			school_class c
    </sql>

    <select id="selectSchoolClassList" parameterType="SchoolClass" resultMap="SchoolClassResult">
        <include refid="selectSchoolClassVo"/>
        <where>  
            <if test="num != null  and num != ''"> and c.num = #{num}</if>
            <if test="state != null  and state != ''"> and c.state = #{state}</if>
            <if test="nameclass != null  and nameclass != ''"> and c.nameclass like concat('%', #{nameclass}, '%') </if>
            <if test="gradelistId != null and gradelistId != '' "> and c.gradelist_id = #{gradelistId}</if>
            <if test="createDate != null  and createDate != ''"> and c.create_date = #{createDate}</if>
            <if test="updateDate != null  and updateDate != ''"> and c.update_date = #{updateDate}</if>
            <if test="deleteFlag != null  and deleteFlag != ''"> and c.delete_flag = #{deleteFlag}</if>
            <if test="sbid != null  and sbid != ''"> and c.sbid = #{sbid}</if>
            <if test="ssid != null  and ssid != ''"> and c.ssid = #{ssid}</if>
        </where>
    </select>
    
    <select id="selectSchoolClassById" parameterType="Long" resultMap="SchoolClassResult">
        <include refid="selectSchoolClassVo"/>
        where c.id = #{id}
    </select>
        
    <insert id="insertSchoolClass" parameterType="SchoolClass" useGeneratedKeys="true" keyProperty="id">
        insert into school_class
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="num != null  and num != ''">num,</if>
            <if test="state != null  and state != ''">state,</if>
            <if test="nameclass != null  and nameclass != ''">nameclass,</if>
            <if test="gradelistId != null ">gradelist_id,</if>
            <if test="createDate != null  and createDate != ''">create_date,</if>
            <if test="updateDate != null  and updateDate != ''">update_date,</if>
            <if test="deleteFlag != null  and deleteFlag != ''">delete_flag,</if>
            <if test="sbid != null  and sbid != ''">sbid,</if>
            <if test="ssid != null  and ssid != ''">ssid,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="num != null  and num != ''">#{num},</if>
            <if test="state != null  and state != ''">#{state},</if>
            <if test="nameclass != null  and nameclass != ''">#{nameclass},</if>
            <if test="gradelistId != null ">#{gradelistId},</if>
            <if test="createDate != null  and createDate != ''">#{createDate},</if>
            <if test="updateDate != null  and updateDate != ''">#{updateDate},</if>
            <if test="deleteFlag != null  and deleteFlag != ''">#{deleteFlag},</if>
            <if test="sbid != null  and sbid != ''">#{sbid},</if>
            <if test="ssid != null  and ssid != ''">#{ssid},</if>
         </trim>
    </insert>

    <update id="updateSchoolClass" parameterType="SchoolClass">
        update school_class
        <trim prefix="SET" suffixOverrides=",">
            <if test="num != null  and num != ''">num = #{num},</if>
            <if test="state != null  and state != ''">state = #{state},</if>
            <if test="nameclass != null  and nameclass != ''">nameclass = #{nameclass},</if>
            <if test="gradelistId != null ">gradelist_id = #{gradelistId},</if>
            <if test="createDate != null  and createDate != ''">create_date = #{createDate},</if>
            <if test="updateDate != null  and updateDate != ''">update_date = #{updateDate},</if>
            <if test="deleteFlag != null  and deleteFlag != ''">delete_flag = #{deleteFlag},</if>
            <if test="sbid != null  and sbid != ''">sbid = #{sbid},</if>
            <if test="ssid != null  and ssid != ''">ssid = #{ssid},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSchoolClassById" parameterType="Long">
        delete from school_class where id = #{id}
    </delete>

    <delete id="deleteSchoolClassByIds" parameterType="String">
        delete from school_class where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>