<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('学籍管理列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <p>学生id：</p>
                                <input type="text" name="studentsId"/>
                            </li>
                            <li>
                                <p>学籍号：</p>
                                <input type="text" name="studentstatusId"/>
                            </li>
                            
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
            
            	<a class="btn btn-success" onclick="studentlist()" shiro:hasPermission="system:studentlist:list">
                    <i class="fa fa-plus"></i> 查看学生列表
                </a>
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:studentstatuslist:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:studentstatuslist:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:studentstatuslist:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:studentstatuslist:export">
                    <i class="fa fa-download"></i> 导出
                 </a>
                <!-- <a class="btn btn-warning" onclick="$.table.importExcel('importForm')" >
                    <i class="fa fa-download"></i> 导入学籍号
                 </a> -->
          		  <a class="btn btn-info" onclick="$.table.importExcel('importForm')">
					<i class="fa fa-upload"></i> 导入
				</a>
            </div>
            
            
			<form id="importForm" enctype="multipart/form-data" class="mt20 mb10" style="display: none;">
				<div class="col-xs-offset-1">
					<input type="file" id="file" name="file"/>
					<!-- <div class="mt10 pt5">
						<input type="checkbox" id="updateSupport" name="updateSupport" title="如果登录账户已经存在，更新这条数据。"> 是否更新已经存在的用户数据
						 &nbsp;	<a onclick="$.table.importTemplate()" class="btn btn-default btn-xs"><i class="fa fa-file-excel-o"></i> 下载模板</a>
					</div> -->
					<font color="red" class="pull-left mt10">
						提示：仅允许导入“xls”或“xlsx”格式文件！
					</font>
				</div>
			</form>
            
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:studentstatuslist:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:studentstatuslist:remove')}]];
        var prefix = ctx + "system/studentstatuslist";

        var studentslist =[[${studentslist}]]
        
        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                importUrl: prefix + "/importData",
                modalName: "学籍管理",
                columns: [{
                    checkbox: true
                },
                {
                    field : 'id', 
                    title : '编号',
                    visible: false
                },
                {
                    field : 'studentsId', 
                    title : '学生id',
                     formatter: function(value, row, index) {
                    	
                    	studentslist
                    	for (i = 0; i < studentslist.length; i++) { 
                    		if(value == studentslist[i].id){
                    			
		                    	return studentslist[i].studentsName;
                    		}
                    	   // = studentslist[i] ;
                    	 }
                    	return "-";
                    }
                },
                {
                    field : 'studentstatusId', 
                    title : '学籍号'
                },
                {
                    field : 'admissionPhotos', 
                    title : '入学照片',
                    formatter: function(value, row, index) {
                		return $.table.imageView(value);
                	}
                },
                {
                    field : 'graduationPictures', 
                    title : '毕业照片',
                    formatter: function(value, row, index) {
                		return $.table.imageView(value);
                	}
                },
               /*  {
                    field : 'admissionTime', 
                    title : '入学时间'
                }, */
                 {
                    field : 'state', 
                    title : '状态',
                    formatter: function(value, row, index) {
                    	if(value == ''){
                    		value = 1
                    	}
                    	console.log(value)
                    	console.log(row)
                    	var datas = [[${@dict.getType('student_status')}]];
                    	return $.table.selectDictLabel(datas, value);
                	}
                }, 
              /*   {
                    field : 'remark', 
                    title : '备注'
                },
                {
                    field : 'deptalias', 
                    title : '部门表的别名'
                },
                {
                    field : 'useralias', 
                    title : '用户表的别名'
                }, */
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];//('+'importForm'+')
                        
                        actions.push('<a class="btn btn-success btn-xs" href="javascript:void(0)" onclick="seestu(\'' + row.studentsId + '\')"><i class="fa fa-edit"></i>查看基本信息</a> ');
                        
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
        
        function studentlist(){
        	var url = prefix + "/studentlist";
    		var options = {
   				title: '学生列表',
   				url: url,
   				callBack: doSubmit
   			};
   			$.modal.openOptions(options);
        }
      
        
        function doSubmit(index, layero){
			var body = layer.getChildFrame('body', index);			
			var id  = body.find('#id').val()
			var gradecharge  = body.find('#gradecharge').val()			
			var str = "id="+id+"&gradecharge="+gradecharge;			
			$.operate.save(prefix2 + "/edit", str);
   			layer.close(index);
		}
        
        //查看基本信息
        function seestu(obj){
        	var url = prefix + "/seestudent/"+obj;
    		var options = {
   				title: '学生基本信息',
   				url: url,
   				callBack: doSubmits
   			};
   			$.modal.openOptions(options);      	
        }
        function doSubmits(index, layero){
			var body = layer.getChildFrame('body', index);			
   			layer.close(index);
		}
    </script>
</body>
</html>