<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('新增学生列')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">		
		<input id="id" name="id" th:field="${course.id}"
					class="form-control" type="hidden" >
		<div class="form-group">
			<label class="col-sm-3 control-label">老师：</label>
			<div class="col-sm-8">
				<select class="form-control" id="teacherId" name="teacherId">
					<option th:each="teachingInfo:${teachingInfoList}" 
						th:value="${teachingInfo.id}" 
						th:text="${teachingInfo.teachingName}" 
						th:selected="${course?.teacherId}==${teachingInfo.id}">
					</option>
				</select>
			</div>
		</div>
	</div>
	<th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script type="text/javascript">
        
    </script>
</body>
</html>