<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增收费管理')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-schoolchargemanagement-add">
            <div class="form-group">    
                <label class="col-sm-3 control-label">项目id：</label>
                <div class="col-sm-8">
                    <input name="projectId" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">收费项目：</label>
                <div class="col-sm-8">
                    <input name="payService" class="form-control"></input>
                </div>
            </div>
           <!--  <div class="form-group">    
                <label class="col-sm-3 control-label">收费明细：</label>
                <div class="col-sm-8">
                    <input name="detailsOfCharges" class="form-control" type="text">
                </div>
            </div> -->
            <div class="form-group">    
                <label class="col-sm-3 control-label">时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input name="Times" class="form-control" placeholder="yyyy-MM-dd" type="text">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">数额（元）：</label>
                <div class="col-sm-8">
                    <input name="remark1" type="number" class="form-control"></input>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">年级：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input required="required" name="remark2" class="form-control" placeholder="yyyy" type="text">
                    </div>
                </div>
            </div>
            <div class="form-group">    
	        	<label class="col-sm-3 control-label is-required">所属学院：</label>
	        	<div class="col-sm-8">
					<select required="required" class="form-control" name="remark3" id="sbid">
						<option value="">---请选择学院---</option>
						<option th:each="sb:${sblist}" 
								th:value="${sb.id}" 
								th:text="${sb.schoolName}">
					</option>
					</select>
	        	</div>
	        </div>
	       	<div class="form-group">    
	        	<label class="col-sm-3 control-label is-required">所属专业：</label>
	        	<div class="col-sm-8">
					<select required="required" class="form-control" name="remark4" id="ssid">
					</select>
	        	</div>
	        </div>
           <!--  <div class="form-group">    
                <label class="col-sm-3 control-label">状态：</label>
                <div class="col-sm-8">
                    <input name="State" class="form-control" type="text">
                </div>
            </div> -->
          <!--   <div class="form-group">
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <textarea name="remark1" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <textarea name="remark2" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <textarea name="remark3" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <textarea name="remark4" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <textarea name="remark5" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <textarea name="remark6" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <textarea name="remark7" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <textarea name="remark8" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <textarea name="remark9" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <textarea name="remark10" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <textarea name="remark11" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <textarea name="remark12" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <textarea name="remark13" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <textarea name="remark14" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <textarea name="remark15" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <textarea name="remark16" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <textarea name="remark17" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">删除标记 0:正常;1:删除：</label>
                <div class="col-sm-8">
                    <input name="delFlag" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">部门表的别名：</label>
                <div class="col-sm-8">
                    <input name="deptalias" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">用户表的别名：</label>
                <div class="col-sm-8">
                    <input name="useralias" class="form-control" type="text">
                </div>
            </div> -->
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script type="text/javascript">
        var prefix = ctx + "system/schoolchargemanagement"
        $("#form-schoolchargemanagement-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-schoolchargemanagement-add').serialize());
            }
        }

        $("input[name='Times']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
        $("input[name='remark2']").datetimepicker({
            format: "yyyy",
            minView: "year",
            autoclose: true
        });
		$('select[id="sbid"]').change(function(){
	    	var sbid = $('select[id="sbid"]').val();
	    	$.ajax({
	    		type: "get",
	    		url: ctx + "system/StudentOfficeStaff/zhuanye/"+sbid,
	    		dataType: "json",
	    		success: function (data) {
	    			var append = '';
	    			for(var i=0; i<data.length; i++) {
	    				var ss = data[i];
	    				append += '<option value="'+ss.id+'">'+ss.name+'</option>';
	    			}
	    			$('#ssid').html(append);
	    		},
	    		async: false
	    	});
	    });
    </script>
</body>
</html>