<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('收费管理列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <!-- <li>
                                <p>项目id：</p>
                                <input type="text" name="projectId"/>
                            </li> -->
                            <li>
                                <p>收费项目：</p>
                                <input type="text" name="payService"/>
                            </li>
                            <li class="select-time">
                                <p>时间：</p>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginTimes]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endTimes]"/>
                            </li>
                           <!--  <li>
                                <p>状态：</p>
                                <input type="text" name="State"/>
                            </li>
                            <li>
                                <p>部门表的别名：</p>
                                <input type="text" name="deptalias"/>
                            </li>
                            <li>
                                <p>用户表的别名：</p>
                                <input type="text" name="useralias"/>
                            </li> -->
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:schoolchargemanagement:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:schoolchargemanagement:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
               <!--  <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:schoolchargemanagement:export">
                    <i class="fa fa-download"></i> 导出
                 </a> -->
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:schoolchargemanagement:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:schoolchargemanagement:remove')}]];
        var prefix = ctx + "system/schoolchargemanagement";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
               // exportUrl: prefix + "/export",
               	sortOrder:"desc",
               	sortName:"_times",
                modalName: "收费管理",
                columns: [{
                    checkbox: true
                },
                {
                    field : 'id', 
                    title : '编号',
                    visible: false
                },
                {
                    field : 'projectId', 
                    title : '项目id'
                },
                {
                    field : 'payService', 
                    title : '收费项目'
                },
                {
                    field : '', 
                    title : '收费明细',
                   	formatter: function(value, row, index) {
                       	return '<a class="" href="#" onclick="vieweditor(\'' + row.id + '\')">查看</a>';
                    }
                },
                {
                    field : 'times', 
                    title : '时间'
                },
                {	
                	visible: editFlag == 'hidden' ? false : true,
                    field : 'state', 
                    title : '状态',
                    align: 'center',
		        	formatter: function (value, row, index) {
		        		return statusTools(row);
		        	}
                   
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="usersee(\'' + row.id + '\')"><i class="fa fa-edit"></i>查看</a> ');
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
        
        function vieweditor(id){
        	
        	//localStorage.setItem("detailscharges",id);
        	var url = ctx + "system/schoolstudentdetails?cid="+id;
			$.modal.openTab("学生明细", url);
        }
        
 		function usersee (){
 			$.modal.alert("暂无此功能！！！")
        	console.log("usersee!!!")
        }
 		/* 项目状态显示 */
		function statusTools(row) {
		    if (row.state == 1) {
    			return '<a class=\"btn btn-warning btn-xs  \" onclick="enable(\'' + row.id + '\')">未完成</a> ';
    		} else {
    			return '<a class=\"btn btn-primary btn-xs \" onclick="disable(\'' + row.id + '\')">已完成</a> ';
    		}
		}
		
		/* 项目管理-未完成 */
		function disable(userId) {
			$.modal.confirm("未完成？", function() {
				$.operate.post(prefix + "/changeStatus", { "id": userId, "state": 1 });
		    })
		}

		/* 项目管理-已完成 */
		function enable(userId) {
			$.modal.confirm("已完成？", function() {
				$.operate.post(prefix + "/changeStatus", { "id": userId, "state": 0 });
		    })
		}
    </script>
</body>
</html>