<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('个人人事安排查询列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <p>教师名称：</p>
                                <input type="text" name="teacherName"/>
                            </li>
                            <!-- <li>
                                <p>教师id：</p>
                                <input type="text" name="teacherId"/>
                            </li> -->
                            <li>
                                <p>年月：</p>
                                <input type="text" name="yearmonth"/>
                            </li>
                            <li>
                                <p>第几周：</p>
                                <input type="text" name="week"/>
                            </li>
                            <li>
                                <p>具体位置：</p>
                                <input type="text" name="detailPosition"/>
                            </li>
                            <li>
                                <p>周几：</p>
                                <input type="text" name="weekName"/>
                            </li>
                            <li>
                                <p>每天的时间：</p>
                                <input type="text" name="timeName"/>
                            </li>
                            <li>
                                <p>是否弃用：</p>
                                <input type="text" name="isdisuse"/>
                            </li>
                            <!-- <li>
                                <p>班级id：</p>
                                <input type="text" name="classId"/>
                            </li> -->
                            <li>
                                <p>班级名称：</p>
                                <input type="text" name="className"/>
                            </li>
                            <li>
                                <p>年级名称：</p>
                                <input type="text" name="classGrade"/>
                            </li>
                            <!-- 
                            <li>
                                <p>年级id：</p>
                                <input type="text" name="gradeId"/>
                            </li> 
                            -->
                            <li class="select-time">
                                <p>创建时间：</p>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginCreateDate]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endCreateDate]"/>
                            </li>
                            <!-- <li class="select-time">
                                <p>更新时间：</p>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginUpdateDate]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endUpdateDate]"/>
                            </li> -->
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <!-- <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:TimetableSearch:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:TimetableSearch:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:TimetableSearch:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:TimetableSearch:export">
                    <i class="fa fa-download"></i> 导出
                 </a> -->
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:TimetableSearch:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:TimetableSearch:remove')}]];
        var prefix = ctx + "system/TimetableSearch";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "个人人事安排查询",
                columns: [{
                    checkbox: true
                },
                {
                    field : 'id', 
                    title : '主键',
                    visible: false
                },
                {
                    field : 'teacherName', 
                    title : '教师名称'
                },
                /* {
                    field : 'teacherId', 
                    title : '教师id'
                }, */
                {
                    field : 'yearmonth', 
                    title : '年月'
                },
                {
                    field : 'week', 
                    title : '第几周'
                },
                {
                    field : 'detailPosition', 
                    title : '具体位置'
                },
                {
                    field : 'weekName', 
                    title : '周几'
                },
                {
                    field : 'timeName', 
                    title : '每天的时间'
                },
                {
                    field : 'isdisuse', 
                    title : '是否弃用'
                },
                /* {
                    field : 'classId', 
                    title : '班级id'
                }, */
                {
                    field : 'className', 
                    title : '班级名称'
                },
                {
                    field : 'classGrade', 
                    title : '年级名称'
                },
                /* {
                    field : 'gradeId', 
                    title : '年级id'
                }, */
                {
                    field : 'createDate', 
                    title : '创建时间'
                },
                {
                    field : 'updateDate', 
                    title : '更新时间'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                       /*  actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>'); */
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>